-
    const defaultContactsDirProps = {
        classes: '',
    }

mixin contacts-dir(props= defaultContactsDirProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultContactsDirProps.classes,
        }

    section.section.contacts-dir(class= checkProps.classes)&attributes(attributes)
        .section__container.section__content
            .contacts-dir__title.title.title--36 Связаться с директором
            .contacts-dir__content
                .contacts-dir__info
                    .contacts-dir__text.contacts-dir__text--top
                        p Уважаемые клиенты, партнеры, друзья!
                        p Если у вас возникли какие-либо вопросы о работе компании FRANK AUTO или есть комментарии по качеству нашего обслуживания, вы всегда можете обратиться ко мне напрямую
                    .contacts-dir__links
                        a.contacts-dir__phone(href="tel:+79175780316") +7 917 578-03-16
                        a.contacts-dir__email(href="mailto:i.frank@frankauto.ru") i.frank@frankauto.ru
                    .contacts-dir__text
                        p По вопросам рекламы, маркетинга и сотрудничества обращайтесь, пожалуйста, сюда&nbsp;– <a href="mailto:marketing@frankauto.ru">marketing@frankauto.ru</a>
                        p С Уважением,<br>Ваша Ирина Франк
                    +btn({
                        classes: 'contacts-dir__btn',
                        name: 'Отправить заявку на сотрудничество',
                        cMode: 'accent',
                        sMode: 'content'
                    })
                .contacts-dir__photo
                    img(class="lazyload" src="" data-src="img/contacts/director.webp" alt="")