.list-form {
    &__block {
        padding: 0;

        @include max(mobile) {
            padding: 0;
        }
    }

    .form__content {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        @include max(laptop) {
            grid-template-columns: minmax(0, 1fr);
        }

        .form__item--full {
            grid-column: 1 / 3;

            @include max(laptop) {
                grid-column: 1 / 2;
            }
        }
    }

    .form__block--column {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}