-
    const defaultNSArticleProps = {
        classes: '',
        title: '',
        date: '',
        section: '',
        brandService: false,
        service: false
    }

mixin ns-article(props= defaultNSArticleProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNSArticleProps.classes,
            title: props.title ? props.title : defaultNSArticleProps.title,
            date: props.date ? props.date : defaultNSArticleProps.date,
            section: props.section ? props.section : defaultNSArticleProps.section,
            brandService: props.brandService ? props.brandService : defaultNSArticleProps.brandService,
            service: props.service ? props.service : defaultNSArticleProps.service,
        }

    section.section.ns-article(class= checkProps.classes)&attributes(attributes)
        .section__container
            .ns-article__header.section__content
                -if(checkProps.title.length > 0)
                    .title.title--40
                        h1!= checkProps.title
                .ns-article__info
                    -if(checkProps.date.length > 0)
                        .ns-article__date!= checkProps.date
                    +btn({
                        name: 'Поделиться',
                        icon: 'share',
                        cMode: 'share',
                        sMode: 'link'
                    })
                    +btn({
                        name: 'Записаться',
                        link: '#signUp',
                        cMode: 'share',
                        sMode: 'link'
                    })
                    -if(checkProps.section.length > 0)
                        .ns-article__section!= checkProps.section
            .section-block.ns-article__block
                .ns-article__content.text-editor
                    - if(checkProps.brandService === true)
                        .ns-article__cover
                            img(src="img/services/sa_intro.webp" alt="")
                        p FRANK AUTO — это профессиональный сервисный центр, который специализируется на обслуживании автомобилей LOTUS. Наши специалисты имеют большой опыт работы с этими автомобилями и знают все тонкости процесса привязки ключей. Мы используем только оригинальное оборудование и программное обеспечение, что гарантирует высокое качество работы.
                        h2 Что входит в карту VIP сопровождения?
                        ol
                            li Наличие нескольких ключей поможет избежать ситуации, когда один ключ утерян и доступа к автомобилю нет. Кроме того, наличие нескольких ключей удобно, если автомобилем пользуются несколько человек. 
                            li Привязка ключей осуществляется через диагностический прибор и занимает около 1-1,5 часа. В случае, если у вас есть кабель для соединения автомобиля с компьютером, мы можем выполнить привязку удаленно. Это позволит сэкономить время и избежать посещения сервисного центра, если вы находитесь в другом городе.

                        +video

                        h2 Оформите полис КАСКО с VIP сопровождением от FRANK AUTO и забудьте о неприятностях на дороге!
                        p По всем вопросам звоните нам или оставляйте заявку на нашем сайте <a href="https://frankauto.ru/">frankauto.ru.</a>

                        +media-slider

                    - else if(checkProps.service === true)
                        .ns-article__cover
                            img(src="img/services/sa_image_1.webp" alt="")
                        p FRANK AUTO — это профессиональный сервисный центр, который специализируется на обслуживании автомобилей LOTUS. Наши специалисты имеют большой опыт работы с этими автомобилями и знают все тонкости процесса привязки ключей. Мы используем только оригинальное оборудование и программное обеспечение, что гарантирует высокое качество работы.
                        h2 Что входит в карту VIP сопровождения?
                        ol
                            li Наличие нескольких ключей поможет избежать ситуации, когда один ключ утерян и доступа к автомобилю нет. Кроме того, наличие нескольких ключей удобно, если автомобилем пользуются несколько человек. 
                            li Привязка ключей осуществляется через диагностический прибор и занимает около 1-1,5 часа. В случае, если у вас есть кабель для соединения автомобиля с компьютером, мы можем выполнить привязку удаленно. Это позволит сэкономить время и избежать посещения сервисного центра, если вы находитесь в другом городе.
                        +video({
                            poster: 'img/services/sa_image_2.webp'
                        })

                        .accordion(data-js="accordion")
                            .accordion__title.title.title--30 Прайс-лист услуг
                            .accordion__list
                                +spoiler({
                                    title: 'Замена, ремонт стекол'
                                })
                                +spoiler({
                                    title: 'Малярные работы'
                                })
                                +spoiler({
                                    title: 'Удаление вмятин без покраски'
                                })
                                +spoiler({
                                    title: 'Полировка'
                                })
                                +spoiler({
                                    title: 'Слесарные работы'
                                })

                        +media-slider

                    - else
                        .ns-article__cover
                            img(src="img/stocks/stock_article.webp" alt="")
                        p При прохождении ТО в сервис - центрах FRANK AUTO дарим масло в подарок. 
                        p Действуют во всех сервис - центрах FRANK AUTO 
                        h2 Что входит в карту VIP сопровождения?

                        ol
                            li Наличие нескольких ключей поможет избежать ситуации, когда один ключ утерян и доступа к автомобилю нет. Кроме того, наличие нескольких ключей удобно, если автомобилем пользуются несколько человек.
                            li Привязка ключей осуществляется через диагностический прибор и занимает около 1-1,5 часа. В случае, если у вас есть кабель для соединения автомобиля с компьютером, мы можем выполнить привязку удаленно. Это позволит сэкономить время и избежать посещения сервисного центра, если вы находитесь в другом городе.

                        +video