:root {
    --c-accent: #2453E1;
    --c-text: #0F0908;
}

// шрифты
$ff-main: 'Inter', Arial, Helvetica, sans-serif;
$ff-second: 'Rooftop', Arial, Helvetica, sans-serif;

// media
$media-list: (
    'xs': 500,
    'mobile': 767,
    'tablet-small': 899,
    'tablet': 1023,
    'laptop-small': 1279,
    'laptop': 1420,
    'large': 1800,
    'full': 2000,
);

// Цвета
$c-white: #fff;
$c-black: #000;
$c-accent: var(--c-accent);
$c-accent-hover: #2427e1;
$c-accent-2: #FC00FF;
$c-text: var(--c-text);
$c-text-breadcrumbs: #878E9C;
$c-text-light: #9299A7;
$c-bg-main: #EDF0F6;
$c-bg-dark: #0F0908;
$c-bg-input: #EDF0F6;
$c-grey: #202020;
$c-border: #E1E6EC;
$c-favorite: #FF0000;

$c-accent-light: #DD595A;
$c-accent-light2: #FCF2F2;
$c-accent-light3: #FAE6E6;
$c-text-dark: #222222;
$c-bg: #c8c8c8;
$c-bg-dark2: #1D1D1D;
$c-error: #D91528;
$c-pink-hover: #FFF0F0;
$c-grey-hover: #FFF0F0;

// Радиусы
$br-section: 24px;
$br-section-mob: 10px;
$br-header-small: 20px;
$br-header-big: 24px;
$br-footer: 40px;

// переходы
$tr-time: .3s;
$tr-time-long: .5s;