.s-text {
    &__content.text-editor {
        width: 100%;
        max-width: 91%;

        @include max(laptop-small) {
            max-width: 100%;
        }

        h2 {
            font-size: 36px;
            line-height: 1em;
            margin-bottom: 0.417em;
        }

        h3 {
            font-size: 30px;
            line-height: 1em;
            margin-bottom: 0.5em;
        }

        p,
        ul,
        ol,
        a,
        li {
            margin-bottom: 1.875em;
        }
    }
}