-
    const defaultSTextProps = {
        classes: '',
        hasBlock: false
    }

mixin s-text(props= defaultSTextProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSTextProps.classes,
            hasBlock: props.hasBlock ? props.hasBlock : defaultSTextProps.hasBlock,
        }

    section.section.s-text(class= checkProps.classes)&attributes(attributes)
        .section__container
            .section__content
                .s-text__content.text-editor
                    - if(checkProps.hasBlock === true)
                        block
                    - else
                        h2 Frank Auto — ваш надежный путь<br>к&nbsp;идеальному автомобилю
                        p Ищете автомобиль, который подойдёт именно вам? В&nbsp;Frank&nbsp;Auto мы&nbsp;не&nbsp;просто продаём машины — мы&nbsp;помогаем подобрать транспорт, который идеально соответствует вашим потребностям, стилю жизни и&nbsp;бюджету. От&nbsp;проверенных городских седанов до мощных внедорожников — у нас вы найдёте всё. Мы тщательно проверяем каждый автомобиль по техническому состоянию и юридической чистоте. Покупая у Frank Auto, вы можете быть уверены: никаких скрытых дефектов, полная история авто и честная цена. А&nbsp;для&nbsp;вашего удобства — онлайн-подбор, консультации и&nbsp;возможность забронировать автомобиль без&nbsp;визита в&nbsp;автосалон.
                        h3 Уверенность в каждой покупке
                        p Frank Auto — это сервис, ориентированный на клиента. Наши специалисты всегда готовы ответить на ваши вопросы, предложить оптимальные варианты и сопровождать вас на всех этапах сделки — от выбора до оформления документов. Мы ценим ваше время и заботимся о вашем комфорте. Сайт Frank Auto разработан так, чтобы сделать поиск и покупку автомобиля максимально простыми. Удобные фильтры, актуальные фотографии, подробные описания и возможность сравнить автомобили — всё, чтобы вы могли принять взвешенное решение, не выходя из дома. А&nbsp;если потребуется помощь — наши консультанты на&nbsp;связи в&nbsp;мессенджерах и&nbsp;по&nbsp;телефону.
                        h3 Гарантия качества и послепродажная поддержка
                        p Frank Auto — это сервис, ориентированный на клиента. Наши специалисты всегда готовы ответить на ваши вопросы, предложить оптимальные варианты и сопровождать вас на всех этапах сделки — от выбора до оформления документов. Мы ценим ваше время и заботимся о вашем комфорте. Сайт Frank Auto разработан так, чтобы сделать поиск и покупку автомобиля максимально простыми. Удобные фильтры, актуальные фотографии, подробные описания и возможность сравнить автомобили — всё, чтобы вы могли принять взвешенное решение, не выходя из дома. А&nbsp;если потребуется помощь — наши консультанты на&nbsp;связи в&nbsp;мессенджерах и&nbsp;по&nbsp;телефону.
