-
    const defaultHomeOrderProps = {
        classes: '',
    }

mixin home-order(props= defaultHomeOrderProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultHomeOrderProps.classes,
        }

    section.section.home-order(class= checkProps.classes)&attributes(attributes)
        .section__container
            .section-block.home-order__block
                .section-block__bg
                    img(class="lazyload" src="" data-src="img/home/home_order_bg.webp")
                .section-block__content.home-order__content
                    .home-order__top
                        .home-order__title.title.title--50 Автомобили на заказ
                    .home-order__bottom
                        .home-order__advantages
                            .home-order__sticker Привезем из Китая, Кореи, Европы
                            .home-order__advantage
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#advantage`)
                                span Прямые контакты с заводами
                            .home-order__advantage
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#advantage`)
                                span Прозрачная сделка
                            .home-order__advantage
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#advantage`)
                                span Быстрая доставка от 25 дней
                            .home-order__advantage
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#advantage`)
                                span Сопровождение на всех этапах

                        +btn({
                            classes: 'home-order__btn',
                            name: 'Получить консультацию',
                            cMode: 'accent',
                            sMode: 'full'
                        })
