.home-order {
    &__block {
        padding: 24px 30px 30px;
    }

    &__title {
        font-weight: 800;
    }

    &__subtitle {}

    &__bottom {
        display: flex;
        align-items: flex-end;
    }
}