.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    &__section.section {
        background-color: $c-bg-main;
        padding-bottom: 0;
        padding-top: 20px;
        transition: all $tr-time linear;

        @include max(laptop) {
            padding-bottom: 0;
            padding-top: 20px;
        }

        @include max(mobile) {
            padding: 10px;
            background-color: $c-white;
        }
    }

    &__container {
        @include max(tablet) {
            display: flex;
            gap: 6px;
            align-items: stretch;
            min-height: 76px;
        }

        @include max(mobile) {
            min-height: 36px;
            gap: 16px;
        }
    }

    &__row {
        min-height: 76px;
        display: flex;
        align-items: stretch;
        gap: 6px;

        @include max(tablet) {
            display: contents;
        }
    }

    &__top {
        overflow: hidden;
        max-height: 80px;
        min-height: 76px;
        transition: all $tr-time linear;
    }

    &__block {
        width: fit-content;
        flex: 0 1 auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-text-breadcrumbs;

        @include max(laptop) {
            padding: 0 18px;
        }

        @include max(tablet) {
            padding: 6px;
        }
    }

    &__left {
        margin-right: auto;
        flex: 0 0 290px;
        padding-left: 14px;
        padding-right: 14px;

        @include max(tablet) {
            order: -1;
            padding-left: 14px;
            padding-right: 14px;
        }

        @include max(tablet-small) {
            flex: 0 0 148px;
        }

        @include max(mobile) {
            display: contents;
        }
    }

    &__logo {
        gap: 16px;
        display: flex;
        align-items: center;

        @include max(mobile) {
            margin-right: auto;
        }

        svg {
            width: 125px;
            flex: 0 0 125px;

            @include max(tablet-small) {
                flex: 0 0 120px;
            }
        }

        span {
            font-weight: 600;
            font-size: 13px;
            line-height: 100%;
            letter-spacing: -0.02em;
            color: $c-text;

            @include max(tablet-small) {
                display: none;
            }
        }
    }

    &__schedule {
        min-width: 186px;

        @include max(laptop) {
            min-width: 148px;
        }

        @include max(laptop-small) {
            display: none;
        }
    }

    &__phones,
    &__soc {
        @include max(tablet) {
            display: none;
        }
    }

    &__compare {
        overflow: visible;

        @include max(tablet) {
            display: none;
        }
    }

    &__callback {
        @include max(mobile) {
            display: none;
        }
    }

    &__bottom {
        margin-top: 10px;
        max-height: 80px;
        min-height: 76px;
        transition: all $tr-time linear;
    }

    &__menu {
        flex: 0 0 100%;
        width: 100%;
        overflow: visible;
        align-items: stretch;

        @include max(tablet) {
            flex: 0 1 auto;
            order: -1;
            gap: 16px;
        }

        @include max(mobile) {
            display: contents;
        }
    }
}

.site-header {
    &.small &__section.section {
        background-color: transparent;

        @include min(mobile) {
            padding-top: 4px;
        }

        @include min(tablet) {
            padding-top: 0px;
        }

        @include max(mobile) {
            background-color: $c-white;
        }
    }

    &.small &__top {
        //max-height: 0;
        //min-height: 0;
    }

    &.small &__bottom {
        max-height: 50px;
        min-height: 50px;
    }
}

.phones-dropdown {
    display: none;

    @include max(mobile) {
        position: relative;
        width: fit-content;
        display: block;
    }

    &__btn {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-accent;
        color: $c-white;
        border-radius: 100%;

        svg {
            width: 20px;
            height: 20px;
        }

        .show {
            display: block;
        }

        .hide {
            display: none;
        }
    }

    &.active &__btn {
        .show {
            display: none;
        }

        .hide {
            display: block;
        }
    }

    &__content {
        position: absolute;
        right: 0;
        padding: 15px;
        top: 100%;
        background-color: $c-white;
        border-radius: $br-section-mob;
        width: calc(100vw - 50px);
        max-width: 300px;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
        transition: all $tr-time linear;
    }

    &.active &__content {
        top: calc(100% + 10px);
        opacity: 1;
        visibility: visible;
    }

    .header-phones__item {
        color: $c-text-breadcrumbs;
    }

}

.header-schedule {
    display: flex;
    align-items: center;
    gap: 15px;

    &__icon {
        flex: 0 0 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include max(laptop) {
            display: none;
        }

        @include max(tablet) {
            display: flex;
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__text {
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 0;

        @include max(tablet) {
            line-height: 160%;
        }
    }
}

.header-soc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;

    @include max(tablet) {
        gap: 4px;
    }

    &__title {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    &__links--mob {
        display: none;

        @include max(mobile) {
            display: flex;
        }
    }

    &__links--mob &__link {
        width: 36px;
        height: 36px;
        justify-content: center;
        align-items: center;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__link {
        display: flex;
        color: $c-text;
        transition: color $tr-time linear;
        color: $c-text-breadcrumbs;

        &:hover {
            color: $c-accent-hover;
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }
}

.header-phones {
    &__item {
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0;

        @include max(tablet) {
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
        }

        a {
            color: $c-text;
            transition: color $tr-time linear;

            &:hover {
                color: $c-accent-hover;
            }
        }
    }

    &__item+&__item {
        border-top: 1px solid $c-border;

        @include max(tablet) {
            border-top: none;
            margin-top: 15px;
        }
    }
}

.header-compare {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c-text-breadcrumbs;
    transition: color $tr-time linear;

    &:hover {
        color: $c-accent-hover;
    }

    svg {
        width: 25px;
        height: 25px;
    }

    &__count {
        position: absolute;
        right: -20px;
        top: 0;
        padding: 3px 6px;
        background-color: $c-accent;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-white;
        border-radius: 8px;
    }

    &__text {
        display: none;
    }
}

.header-compare {
    &--burger {
        width: 100%;
        gap: 6px;
        justify-content: flex-start;
    }

    &--burger &__text {
        display: block;
    }

    &--burger &__count {
        position: relative;
        right: 0;
        top: 0;
    }

    &--burger svg {
        display: none;
    }
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;

    @include max(tablet) {
        padding: 0;
        gap: 16px;
    }

    @include max(mobile) {
        display: none;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &--desk {
            @include max(tablet) {
                display: none;
            }
        }

        &--mob {
            @include min(tablet-small) {
                display: none;
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        background-color: transparent;
        transition: all $tr-time linear;
        border-radius: 5px;
        gap: 5px;
        position: relative;

        @include max(tablet) {
            padding: 0;
        }
    }

    &__item:hover &__header {
        background-color: $c-bg-main;
    }

    &__link {
        font-weight: 600;
        font-size: 16px;
        line-height: 1em;
        letter-spacing: 0;
        color: $c-text;
        transition: all $tr-time linear;

        &:hover {
            color: $c-accent-hover;
        }

        @include max(tablet) {
            font-size: 13px;
        }
    }

    &__header &__link {

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }

    &__list &__link {
        font-size: 16px;
    }

    &__icon svg {
        width: 10px;
        height: 10px;
        transform: rotate(0);
        transition: all $tr-time linear;
    }

    &__submenu {
        position: absolute;
        left: 0;
        top: calc(100% + 20px);
        background-color: $c-white;
        padding: 30px 30px 38px;
        width: fit-content;
        min-width: 286px;
        border-radius: 24px;
        opacity: 0;
        visibility: hidden;
        transition: all $tr-time linear;

        &:after {
            content: "";
            position: absolute;
            top: -34px;
            left: 0;
            width: 100%;
            height: 35px;
            background-color: transparent;
        }
    }

    &__item:hover &__submenu {
        opacity: 1;
        visibility: visible;
        top: calc(100% + 33px);
    }

    &__subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text-light;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-top: 30px;
    }
}

.header-menu {
    &:not(.header-menu--burger) &__item:hover &__icon svg {
        transform: rotate(-180deg);
    }
}

.header-menu {
    &--burger {
        flex-direction: column;
        align-items: stretch;
        gap: 0;

        @include max(tablet) {
            gap: 0;
        }

        @include max(mobile) {
            display: flex;
        }
    }

    &--burger &__item {
        flex-direction: column;
        align-items: flex-start;

        &--mob {
            @include min(tablet-small) {
                display: none;
            }
        }
    }

    &--burger &__header {
        width: 100%;
        justify-content: space-between;
    }

    &--burger &__item:hover &__header {
        background-color: transparent;
    }

    &--burger &__link {
        display: block;
        position: relative;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text-breadcrumbs;
        padding: 7px 0;

        &::after {
            width: calc(100% + 14px);
            left: -7px;
            background-color: transparent;
            transition: background-color 0.1s;
            border-radius: 4px;
        }

        &:hover:after,
        &:focus:after,
        &:active:after {
            background-color: rgba(0, 120, 215, 0.1);
        }

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            outline: none;
        }
    }

    &--burger &__icon--open {
        display: block;
        width: 19px;
        height: 19px;

        svg {
            width: 15px;
            height: 15px;
        }
    }

    &--burger &__icon--close {
        display: none;
        width: 20px;
        height: 20px;

        svg {
            width: 15px;
            height: 15px;
        }
    }

    &--burger &__item.active &__icon--open {
        display: none;
    }

    &--burger &__item.active &__icon--close {
        display: block;
    }

    &--burger &__submenu {
        position: relative;
        opacity: 1;
        visibility: visible;
        top: 0;
        padding: 20px 0 0 20px;
        min-width: auto;
        max-height: 0;
        padding-top: 0;
        margin-top: 0;
        overflow: hidden;
        border-radius: 0;

        &::after {
            content: none;
        }
    }

    &--burger &__item.active &__submenu {
        margin-top: 5px;
    }

    &--burger &__subtitle {
        display: none;
    }

    &--burger &__item:hover &__submenu {
        top: 0;
    }

    &--burger &__list {
        margin-top: 0;
        gap: 0;
        padding-bottom: 10px;
    }

}

.header-burger {
    display: none;
    height: 100%;
    position: relative;

    @include max(tablet) {
        display: block;
    }

    @include max(mobile) {
        align-self: center;
    }

    &__toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-bg-main;
        border-radius: 18px;
        padding: 14px;
        height: 100%;

        @include max(mobile) {
            padding: 0;
            color: $c-text;
            background-color: transparent;
        }

    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__open {
        display: flex;
    }

    &__close {
        display: none;
    }

    &.active &__open {
        display: none;
    }

    &.active &__close {
        display: flex;
    }

    &__content {
        position: absolute;
        right: 0;
        top: calc(100% + 0px);
        width: fit-content;
        min-width: 360px;
        background-color: $c-white;
        border-radius: 24px;
        padding: 15px 30px 15px;
        opacity: 0;
        visibility: hidden;
        transition: all $tr-time linear;

        @include max(mobile) {
            position: fixed;
            right: auto;
            top: 40px;
            left: 0;
            width: 100%;
            padding: 28px 30px 15px;
            height: calc(100% - 55px - 30px);
            border-radius: 0 0 24px 24px;
            border-top: 1px solid $c-border;
            z-index: -1;
            overflow-y: auto;
        }
    }

    &.active &__content {
        top: calc(100% + 12px);
        opacity: 1;
        visibility: visible;

        @include max(mobile) {
            top: 56px;
        }

    }

    &__block {
        padding: 15px 0;
    }

    &__block--flex {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__block+&__block {
        border-top: 1px solid $c-border;
    }

}