-
    const defaultCpRentProps = {
        classes: '',
    }

mixin cp-rent(props= defaultCpRentProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultCpRentProps.classes,
        }

    section.section.cp-rent(class= checkProps.classes)&attributes(attributes)
        .section__container.section__content
            .cp-rent__content
                .cp-rent__card
                    .cp-rent__bg
                        img(src="img/home/home_order_bg.webp" alt="")
                    .cp-rent__info
                        .cp-rent__title.title.title--50 Взять в аренду
                        .cp-rent__subtitle 3 дня аренды бесплатно
                        +btn({
                            classes: 'cp-rent__btn',
                            name: 'Взять в аренду',
                            cMode: 'accent',
                            sMode: 'full'
                        })

                .cp-rent__links
                    a(href="javascript:vod(0);").cp-rent__link
                        span У нас 3 = 5!
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#arrow_angle_right`)
                    a(href="javascript:vod(0);").cp-rent__link
                        span Автомобили 2024 года с максимальной выгодой в наличии
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#arrow_angle_right`)