-
    const defaultAboutDirProps = {
        classes: '',
    }

mixin about-dir(props= defaultAboutDirProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultAboutDirProps.classes,
        }

    section.section.about-dir(class= checkProps.classes)&attributes(attributes)
        .section__container
            .section-block.about-dir__block
                .about-dir__title.title.title--36 Управляющий директор Frank Auto
                .about-dir__body
                    .about-dir__text.text-editor Управляющим директором российского подразделения международного холдинга Car Expo Group стала Ирина Франк, после чего новая компания получила название Frank Auto. Ирина - опытный руководитель с более чем 20-летним стажем в автобизнесе.
                    .about-dir__flex
                        .about-dir__img
                            img(src="img/about/a_director.webp" alt="")
                        .about-dir__desc 
                            +quote({
                                classes: 'about-dir__quote',
                                text: 'Я люблю автобизнес, особенно сегмент B2C, где нужно работать не только с одними дистрибьюторами, но и с клиентами – живыми людьми. Такую возможность я получила на новом месте работы, где я смогу делать клиентов реально счастливыми. В некоторых предыдущих автосалонах задача была полностью выжать покупателя, чтобы принести максимальную прибыль компании.'
                            })
                            .about-dir__text.text-editor
                                p Мы создаем такие условия для наших клиентов, чтобы они почувствовали удовольствие от высококачественных автомобилей – развиваем инновационную систему поиска, анализа и приобретения новейших изобретений ведущих автоконцернов мира, обеспечиваем гарантию и ответственность за каждую модель.
                                p За счет постоянного расширения списка стран, где мы оперируем, улучшения контактов с мировыми производителями и дилерами, создания сети квалифицированного сервиса, мы стремимся к тому, чтобы процесс поиска, приобретения и обслуживания автомобиля был простым и доставлял радость и комфорт на всем протяжении его использования.

                    +video({
                        video: 'https://vk.com/video_ext.php?oid=-216965779&id=456239269&hd=2&autoplay=1',
                        iframe: true
                    })