.s-services {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;

        @include max(tablet) {
            gap: 10px;
        }
    }

    &__card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $c-bg-main;
        border-radius: 20px;
        overflow: hidden;
        padding: 16px 0 16px 20px;

        @include max(laptop-small) {
            padding: 16px 0 16px 16px;
        }

        @include max(tablet) {
            flex-direction: column;
            align-items: flex-start;
            padding: 15px 10px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 54%;
        flex: 0 0 54%;
        align-self: stretch;
        position: relative;
        z-index: 3;

        @include max(laptop-small) {
            max-width: 60%;
            flex-basis: 60%;
        }

        @include max(tablet) {
            display: contents;
        }
    }

    &__subtitle {
        font-family: $ff-inter;
        font-weight: 700;
    }

    &__btn.btn {
        margin-top: auto;
        max-width: 200px;
        padding-left: 20px;
        padding-right: 20px;

        @include max(tablet) {
            order: 2;
            margin-top: 10px;
            max-width: none;
        }

        @include max(mobile) {
            padding: 15.5px 10px;
            font-size: 12px;
        }
    }

    &__img {
        position: relative;
        flex: 0 0 54.6%;
        aspect-ratio: 1 / 0.888;
        margin-top: 12px;
        margin-bottom: 12px;
        mask-clip: border-box;
        mask-size: 100% 100%;
        mask-image: url(../img/masks/s_services_mask.svg);

        @include max(large) {
            left: -12px;
        }

        @include max(tablet) {
            left: 0;
            flex-basis: auto;
            margin-top: 10px;
            margin-bottom: 0;
            width: 100%;
        }

        @include max(mobile) {
            aspect-ratio: 1 / 0.7388;
            mask-image: url(../img/masks/s_services_mask_mob.svg);
            height: 31.68vw;
        }

        @include max(xs) {
            height: 50.556vw;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        @include max(tablet) {
            margin-top: 5px;
        }
    }
}