.tech-spec {
    &__table {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 70px;
        width: 100%;
        margin-top: 30px;
        padding: 40px 30px 30px;

        @include max(laptop-small) {
            gap: 30px;
            padding: 30px 20px 20px;
        }

        @include max(tablet) {
            gap: 20px;
            padding: 20px;
            flex-wrap: wrap;
        }

        @include max(xs) {
            flex-direction: column;
            align-items: center;

        }
    }

    &__table &__rows {
        align-self: center;
    }

    &__col {
        flex: 0 1 auto
    }

    &__size {
        flex-shrink: 0;
        flex-grow: 0;

        @include max(mobile) {
            display: none;
        }

        &--1 {
            flex-basis: 26.42%;

            @include max(tablet) {
                flex-basis: 38%;
            }

            @include max(xs) {
                flex-basis: auto;

                img {
                    height: 93px;
                }
            }
        }

        &--2 {
            flex-basis: 11.87%;

            @include max(tablet) {
                flex-basis: 17%;
            }

            @include max(xs) {
                flex-basis: auto;

                img {
                    height: 112px;
                }
            }
        }

        &--3 {
            flex-basis: 11.57%;

            @include max(tablet) {
                flex-basis: 16.5%;
            }

            @include max(xs) {
                flex-basis: auto;

                img {
                    height: 112px;
                }
            }
        }
    }

    &__size:has(.tech-spec__height) {
        position: relative;
        margin-right: 78px;

        @include max(xs) {
            margin-right: 0;
        }
    }

    &__icon {
        width: 100%;
        height: 28px;
        background-image: url(../img/catalog-product/cp_size_icon.webp);
        background-size: 100% 100%;
    }

    &__width,
    &__height {
        display: flex;
        gap: 10px;
        font-family: $ff-roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2em;
        letter-spacing: 0;
        text-align: center;
        color: #262626;
    }

    &__width {
        flex-direction: column;
        flex: 1 1 100%;
    }

    &__height {
        position: absolute;
        left: calc(100% + 13px);
        top: 0;
        height: 100%;
        flex-direction: row;
        align-items: center;
        padding-bottom: 68px;
    }

    &__height &__icon {
        width: 16px;
        height: 100%;
        background-image: url(../img/catalog-product/cp_size_icon_v.webp);
        background-size: 100% 100%;
    }

    &__rows {
        width: 100%;
        column-width: 580px;
        column-count: auto;
        column-gap: 140px;

        @include max(laptop) {
            column-gap: 60px;
        }
    }

    &__row {
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 40px;
        font-family: $ff-roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0;

        @include max(xs) {
            gap: 20px;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 1px;
            left: 0;
            width: 100%;
            border-bottom: dashed 1px $c-text-breadcrumbs;
            z-index: 1;

        }
    }

    &__row+&__row {
        margin-top: 20px;
    }

    &__param {
        position: relative;
        color: #737373;
        flex: 0 1 auto;
        background-color: $c-white;
        z-index: 3;
    }

    &__value {
        position: relative;
        font-weight: 500;
        color: $c-text;
        flex: 0 1 auto;
        text-align: end;
        background-color: $c-white;
        z-index: 3;
    }

    &__rows--bg &__param,
    &__rows--bg &__value {
        background-color: $c-bg-main;
    }

    &__grid {
        margin-top: 30px;

        .tech-spec__rows {
            height: fit-content;
        }
    }

    &__gcont {
        overflow: hidden;
        transition: all $tr-time-long linear;

    }
}