mixin mixins()
    //- Компоненты
    include ../../blocks/components/btn/btn
    include ../../blocks/components/socials/socials
    include ../../blocks/components/form/form
    include ../../blocks/components/form-filter/form-filter
    include ../../blocks/components/field/field
    include ../../blocks/components/field-range/field-range
    include ../../blocks/components/modal/modal
    include ../../blocks/components/breadcrumbs/breadcrumbs
    include ../../blocks/components/price/price
    include ../../blocks/components/prod-controls/prod-controls
    include ../../blocks/components/slider-controls/slider-controls
    include ../../blocks/components/catalog-card/catalog-card
    include ../../blocks/components/story-card/story-card
    include ../../blocks/components/news-card/news-card
    include ../../blocks/components/pagination/pagination
    include ../../blocks/components/quote/quote
    include ../../blocks/components/video/video

    //- Модули
    include ../../blocks/modules/s-breadcrumbs/s-breadcrumbs
    include ../../blocks/modules/s-catalog/s-catalog
    include ../../blocks/modules/s-services/s-services
    include ../../blocks/modules/story-slider/story-slider
    include ../../blocks/modules/s-news/s-news
    include ../../blocks/modules/tabs-block/tabs-block
    include ../../blocks/modules/brands-list/brands-list
    include ../../blocks/modules/s-text/s-text
    include ../../blocks/modules/quick-app/quick-app
    include ../../blocks/modules/s-banner/s-banner
    include ../../blocks/modules/s-advantages/s-advantages
    include ../../blocks/modules/s-reviews/s-reviews
    include ../../blocks/modules/s-discount/s-discount
    include ../../blocks/modules/personal-offer/personal-offer
    include ../../blocks/modules/photo-gallery/photo-gallery
    include ../../blocks/modules/tech-spec/tech-spec
    include ../../blocks/modules/s-config/s-config
    include ../../blocks/modules/popular-brands/popular-brands
    include ../../blocks/modules/mi-slider/mi-slider
    include ../../blocks/modules/s-banks/s-banks
    include ../../blocks/modules/img-slider/img-slider
    include ../../blocks/modules/news-list/news-list
    include ../../blocks/modules/ns-article/ns-article
    include ../../blocks/modules/img-intro/img-intro

    include ../../blocks/modules/home-intro/home-intro
    include ../../blocks/modules/home-selection/home-selection
    include ../../blocks/modules/home-order/home-order
    include ../../blocks/modules/home-credit/home-credit
    include ../../blocks/modules/home-service/home-service

    include ../../blocks/modules/catalog-filter/catalog-filter

    include ../../blocks/modules/cb-intro/cb-intro

    include ../../blocks/modules/cm-accordeon/cm-accordeon

    include ../../blocks/modules/cp-intro/cp-intro
    include ../../blocks/modules/cp-rent/cp-rent

    include ../../blocks/modules/uc-offers/uc-offers

    include ../../blocks/modules/contacts-intro/contacts-intro
    include ../../blocks/modules/contacts-dir/contacts-dir
    include ../../blocks/modules/contacts-details/contacts-details

    include ../../blocks/modules/about-intro/about-intro
    include ../../blocks/modules/about-dir/about-dir