mixin mixins()
	//- Компоненты

	include ../../blocks/components/btn/btn
	include ../../blocks/components/socials/socials
	include ../../blocks/components/form/form
	include ../../blocks/components/modal/modal

	//- Модули
	//-include ../../blocks/modules/home-intro/home-intro