mixin mixins()
	//- Компоненты
	include ../../blocks/components/btn/btn
	include ../../blocks/components/socials/socials
	include ../../blocks/components/form/form
	include ../../blocks/components/field/field
	include ../../blocks/components/modal/modal
	include ../../blocks/components/breadcrumbs/breadcrumbs
	include ../../blocks/components/price/price
	include ../../blocks/components/prod-controls/prod-controls
	include ../../blocks/components/slider-controls/slider-controls

	//- Модули
	include ../../blocks/modules/s-breadcrumbs/s-breadcrumbs
	include ../../blocks/modules/tabs-block/tabs-block