mixin mixins()
	//- Компоненты

	include ../../blocks/components/btn/btn
	include ../../blocks/components/socials/socials
	include ../../blocks/components/form/form
	include ../../blocks/components/modal/modal
	include ../../blocks/components/breadcrumbs/breadcrumbs

	//- Модули
	include ../../blocks/modules/s-breadcrumbs/s-breadcrumbs