.price-list {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 20px;
        background-color: $c-bg-main;
        color: $c-text-editor;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 400;

        svg {
            width: 24px;
            height: 24px;
            color: $c-accent-2;
        }
    }

    &__sum {
        font-weight: 600;
        margin-left: auto;
    }
}