.price-list {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 20px;
        background-color: $c-bg-main;
        color: $c-text-editor;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0;

        @include max(mobile) {
            padding: 10px;
            flex-direction: column;
            gap: 5px;
            align-items: flex-start;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0;

        @include max(mobile) {
            font-size: 15px;
        }


        svg {
            width: 24px;
            height: 24px;
            color: $c-accent-2;
            flex-shrink: 0;
        }
    }

    &__sum {
        font-weight: 600;
        margin-left: auto;
        flex-shrink: 0;

        @include max(mobile) {
            margin-left: 39px;
        }
    }

    &__btn {
        flex-shrink: 0;
        color: $c-accent;

        svg {
            color: $c-accent;
        }

        @include max(mobile) {
            margin-left: 39px;
        }
    }
}