mixin cookie
    .cookie(data-js='cookie')
        .cookie__text.text-editor 
            p ООО «Франк Авто» обрабатывает cookies с целью персонализации сервисов и чтобы пользоваться веб-сайтом было удобнее. Вы можете запретить обработку сookies в настройках браузера. Пожалуйста, ознакомьтесь с <a href="javascript:void(0);">Политикой использования cookies</a>.

        +btn({
            classes: 'cookie__btn',
            sMode: 'full',
            cMode: 'accent',
            name: 'Принять',
        })(data-js='cookieBtn')