.home-intro {

    &__block {
        padding: 0;

        @include max(mobile) {
            padding: 0;
        }
    }

    &__slide {
        position: relative;
    }

    &__bg {
        left: 0;
        top: 0;
        width: 100%;
        height: auto;

        img,
        picture {
            width: 100%;
            height: auto;
        }

        /*&::after {
            content: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #000000 15%, rgba(0, 0, 0, 0) 65%);

            @include max(mobile) {
                content: '';
            }
        }*/
    }

    /*&__content {
        position: relative;
        padding: 35px 40px 80px;
        min-height: 700px;

        @include max(full) {
            min-height: calc(100vh - 198px - 20px);
        }

        @include max(tablet) {
            padding: 20px 20px 60px;
            min-height: 39vw;
        }

        @include max(mobile) {
            padding: 20px 15px 60px;
            min-height: 400px;
        }

    }*/

    &__title {
        max-width: 810px;
    }

    &__pagination.swiper-pagination-bullets {
        position: absolute;
        left: 46px;
        bottom: 46px;
        z-index: 3;

        @include max(tablet) {
            left: 20px;
            bottom: 20px;
        }

        @include max(mobile) {
            left: 0;
        }
    }
}