-
    const defaultHomeIntroProps = {
        classes: '',
    }

mixin home-intro(props= defaultHomeIntroProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultHomeIntroProps.classes,
        }

    section.section.home-intro(class= checkProps.classes data-js="homeIntro")&attributes(attributes)
        .section__container
            .section-block.section-block--dark.home-intro__block
                .home-intro__slider(data-js="homeIntroSlider")
                    .swiper-wrapper
                        .swiper-slide.home-intro__slide
                            .home-intro__bg
                                img(src="img/home/home_intro_bg_1.webp" alt="")
                            .home-intro__content
                                .title.title--50.title--light.home-intro__title <span>FRANK AUTO</span> официальный дилер и сервисный центр <span>LIXIANG<span>
                        .swiper-slide.home-intro__slide
                            .home-intro__bg
                                img(loading="lazy" src="img/home/home_intro_bg_1.webp" alt="")
                                .swiper-lazy-preloader
                            .home-intro__content
                                .title.title--50.title--light.home-intro__title <span>FRANK AUTO</span> официальный дилер и сервисный центр <span>LIXIANG<span>
                        .swiper-slide.home-intro__slide
                            .home-intro__bg
                                img(loading="lazy" src="img/home/home_intro_bg_1.webp" alt="")
                                .swiper-lazy-preloader
                            .home-intro__content
                                .title.title--50.title--light.home-intro__title <span>FRANK AUTO</span> официальный дилер и сервисный центр <span>LIXIANG<span>
                        .swiper-slide.home-intro__slide
                            .home-intro__bg
                                img(loading="lazy" src="img/home/home_intro_bg_1.webp" alt="")
                                .swiper-lazy-preloader
                            .home-intro__content
                                .title.title--50.title--light.home-intro__title <span>FRANK AUTO</span> официальный дилер и сервисный центр <span>LIXIANG<span>
                    .home-intro__pagination.bullet-progress(data-js="bulletProgress")