extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "404"

block content
	.page-layout(data-js="pageLayout")
		+s-breadcrumbs

		section.section.not-found
			.section__container
				.section-block.section-block--dark.not-found__block
					.section-block__bg
						picture
							source(srcset="img/404/bg_mob.webp" media="(max-width: 767px)")
							img(src="img/404/bg.webp")
					.section-block__content.not-found__content
						.not-found__title 404
						h1.not-found__subtitle Страница не найдена!
						.not-found__text «Мы запустили новый сайт, сделав его удобным и информативным.<br>Возможно, запрашиваемая Вами страница была перенесена или удалена.<br>Вы можете позвонить нам и получить квалифицированную помощь наших специалистов»
						+btn({
							name: 'На главную страницу',
							cMode: 'accent',
						})