extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Модель-Товар"

block content
	.page-layout(data-js="pageLayout")
		+s-breadcrumbs({
			items: [
				{
					name: 'Главная',
					link: 'javascript:void(0);'
				},
				{
					name: 'Каталог',
					link: 'javascript:void(0);'
				},
				{
					name: 'Lixiang',
					link: 'javascript:void(0);'
				},
				{
					name: 'Lixiang L7',
					link: 'javascript:void(0);'
				}
			],
		})

		+cb-intro({
			isModel: true
		})

		+s-discount

		+cm-accordeon

		+personal-offer

		+photo-gallery

		+s-news({
			title: 'Участвует в акциях',
			btn: {
				classes: 'section-header__btn',
				name: 'Смотреть все',
				cMode: 'bordered',
				sMode: 'content'
			},
			cards: [
				{
					classes: 'swiper-slide news-card--small',
					img: 'img/stocks/stocks_1.webp',
					title: 'АВТОКРЕДИТ С ДОКРИЗИСНОЙ СТАВКОЙ!',
					text: 'Специальная кредитная программа на автомобили с докризисной ставкой ВСЕГО 17% ГОДОВЫХ. Это ваш шанс приобрести автомобиль на выгодных условиях и забыть о высоких процентах!',
					tag: '',
					date: '25.10.2025'
				},
				{
					classes: 'swiper-slide news-card--small',
					img: 'img/stocks/stocks_2.webp',
					title: 'Собери автомобиль мечты с телеграмм ботом',
					text: 'Специальная кредитная программа на автомобили с докризисной ставкой ВСЕГО 17% ГОДОВЫХ. Это ваш шанс приобрести автомобиль на выгодных условиях и забыть о высоких процентах!',
					tag: '',
					date: '25.10.2025'
				},
				{
					classes: 'swiper-slide news-card--small',
					img: 'img/stocks/stocks_3.webp',
					title: 'Выгода от FRANK AUTO - выбирайте с умом!',
					text: 'Специальная кредитная программа на автомобили с докризисной ставкой ВСЕГО 17% ГОДОВЫХ. Это ваш шанс приобрести автомобиль на выгодных условиях и забыть о высоких процентах!',
					tag: '',
					date: '25.10.2025'
				}
			]
		})

		+s-catalog({
			title: 'Похожие предложения',
			isSlider: true,
			items: [
			{
				img: 'img/catalog/product_1.webp',
				title: 'Новый LIXIANG L6 MAX',
				price: {
					classes: 'catalog-card__price',
					current: '5 500 000 ₽',
					old: '6 200 000 ₽',
					credit: 'от 115 000 ₽/мес <span>в кредит</span>'
				},
			},
			{
				img: 'img/catalog/product_2.webp',
				title: 'LiXiang L7 MAX',
				price: {
					classes: 'catalog-card__price',
					current: '5 835 192 ₽',
					old: '6 200 000 ₽',
					credit: 'от 115 000 ₽/мес <span>в кредит</span>'
				},
			},
			{
				img: 'img/catalog/product_3.webp',
				title: 'LIXIANG L7 PRO',
				price: {
					classes: 'catalog-card__price',
					current: '5 660 000 ₽',
					old: '6 200 000 ₽',
					credit: 'от 115 000 ₽/мес <span>в кредит</span>'
				},
			},

		]
		})

		+s-catalog({
			title: 'Новые Lixiang L7 в наличии',
			sort: true,
			pagination: true
		})

		+home-service

		+s-news({
			title: 'Пишем об этом автомобиле здесь',
			btn: {
				classes: 'section-header__btn',
				name: 'Смотреть все',
				cMode: 'bordered',
				sMode: 'content'
			},
			slides: '4',
			cards: [
				{
					classes: 'swiper-slide news-card--small',
					img: 'img/news/news_1.webp',
					title: 'Чем отличаются LIXIANG L7, L8 и L9. Какую модель выбрать?',
					text: '',
					tag: 'Кузовной ремонт',
					date: ''
				},
				{
					classes: 'swiper-slide news-card--small',
					img: 'img/news/news_2.webp',
					title: 'Самые продаваемые бренды электромобилей в мире',
					text: '',
					tag: 'ZEEKR',
					date: ''
				},
				{
					classes: 'swiper-slide news-card--small',
					img: 'img/news/news_3.webp',
					title: 'Сообщество EV World Club: площадка для экспертов и истинных ценителей электромобилей',
					text: '',
					tag: 'Детейлинг',
					date: ''
				},
				{
					classes: 'swiper-slide news-card--small',
					img: 'img/news/news_4.webp',
					title: 'Топ-7 лучших китайских электромобилей по версии европейских экспертов',
					text: '',
					tag: 'Детейлинг',
					date: ''
				}
			]
		})

		+s-text