extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Доставка автомобиля"

block content
	.page-layout(data-js="pageLayout")
		+s-breadcrumbs({
			items: [
				{
					name: 'FrankAuto',
					link: 'javascript:void(0);'
				},
				{
					name: 'Доставка автомобиля',
					link: 'javascript:void(0);'
				}
			],
		})

		+img-intro

		+s-list
			.s-list__content
				.s-list__header
					.s-list__icon
						img(src="img/s-list-icons/s_list_icon_1.svg" alt="")
					.title.title--24.s-list__title С&nbsp;нашей помощью Вы&nbsp;сможете получить автомобиль с&nbsp;льготной ставкой утилизационного сбора и&nbsp;сэкономить от&nbsp;660&nbsp;000&nbsp;руб.
				.s-list__list.text-editor
					ul
						li Выкупить автомобиль у китайского поставщика
						li Получить необходимые документы для постановки на учет в ГИБДД – СБКТС, ЭПТС
						li Доставить его из другой страны в РФ
						li Доставить Вам его в любой город РФ
						li Организовать его таможенное оформление
						li 10% скидки по Trade-in на покупку нового автомобиля

		+list-form

		+s-reviews({
			title: 'Нам доверяют'
		})
