extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Главная"

block content
    .page-layout(data-js="pageLayout")
        +home-intro
        +home-selection
        +s-catalog
        +home-order