extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Страхование"

block content
	.page-layout(data-js="pageLayout")
		+s-breadcrumbs({
			items: [
				{
					name: 'FrankAuto',
					link: 'javascript:void(0);'
				},
				{
					name: 'Страхование',
					link: 'javascript:void(0);'
				}
			],
		})

		+img-intro({
			img: 'img/intros/insurance_intro.webp',
			imgMob: 'img/intros/insurance_intro_mob.webp',
			title: 'Страхование',
			text: 'Страхование – защита физических лиц <br>от расходов на ремонт автомобиля',
			sticker: {
				inTitle: false,
				small: 'Первые 60 минут',
				big: 'Бесплатно'
			}
		})

		section.section.s-requirements
			.section__container.section__content
				.s-requirements__content
					.s-requirements__title.title.title--30 Требования <br>для получения <br>услуги
					+list-width-icons({
						list: [
							{
								img: 'img/corp/common-icon6.svg',
								title: '21 год',
								text: 'Ваш минимальный возраст для&nbsp;программы'
							},
							{
								img: 'img/corp/common-icon7.svg',
								title: '2 года',
								text: 'автомобильного стажа'
							},
							{
								img: 'img/corp/common-icon8.svg',
								title: 'Принести с собой',
								text: 'водительское удостоверение и&nbsp;паспорт'
							},
						]
					})

		+list-form({
			personalMarker: '2.'
		})
			.form__item
				.title.title--30.form__list-title
					.form__marker 1.
					| Автомобиль для оформления страхования
				.form__block.form__block--sgrid
					.form__fields.form__fields--column
						+field({
							classes: '',
							tag: 'select',
							placeholder: 'Марка',
							selectOptions: [
								"",
								"LiXiang",
								"Voyah",
								"AITO",
								"Chery",
								"Zeekr",
								"Audi",
								"Tank",
								"Rox Motor Tech",
							],
							inputAttr: {
								'required': '',
							},
							})
						+field({
							tag: 'select',
							placeholder: 'Модель',
							selectOptions: [
								"",
								"LiXiang L6",
								"LiXiang L7",
								"LiXiang L9",
								"LiXiang L9",
								"LiXiang Mega",
								"LiXiang One"
							],
							inputAttr: {
								'required': '',
							},

						})
						+field({
							classes: '',
							tag: 'select',
							placeholder: 'Комплектация',
							selectOptions: [
								"",
								"Base",
								"Comfort",
								"Sport",
								"Luxe",
							],
							inputAttr: {
								'required': '',
							},
						})

					.form__auto.form-auto
						.form-auto__img
							img(src="img/catalog-model/model_5.webp" alt="")
						.form-auto__info
							.form-auto__title.title Lixiang L7 1.4 100 л.с.<br>6MT 2WD (2020)
							.form-auto__prices
								.form-auto__price.form-auto__price--base
									span Базовая цена
									| 12&nbsp;500&nbsp;000&nbsp;₽
								.form-auto__price.form-auto__price--discount
									span Цена со скидками
									| 5&nbsp;500&nbsp;000&nbsp;₽
							.form-auto__credit.title-sticker
								| Платеж
								span 70 000 ₽/мес.

		+s-reviews({
			title: 'Нам доверяют'
		})
