extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Политика в отношении обработки персональных данных"

block content
	.page-layout(data-js="pageLayout")
		+s-breadcrumbs({
			items: [
				{
					name: 'FrankAuto',
					link: 'javascript:void(0);'
				},
				{
					name: 'Политика в отношении обработки персональных данных',
					link: 'javascript:void(0);'
				}
			],
		})

		section.section.s-text.s-text--privacy
			.section__container
				.section__content
					.s-text__content.text-editor
						h1 Политика в отношении обработки персональных данных

						p Настоящая Политика конфиденциальности персональных данных (далее - Политика конфиденциальности) является неотъемлемой частью Публичной оферты, размещенной на сайте в сети Интернет по адресу: <a href="https://frankauto.ru">https://frankauto.ru</a>  (далее - Сайт).

						p Использование сервисов Сайта означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями Пользователь должен воздержаться от использования сервисов.

						h2 1. ОБЩИЕ ПОЛОЖЕНИЯ

						p 1.1. В рамках настоящей Политики под персональной информацией Пользователя понимаются:
						p 1.1.1. Персональная информация, которую Пользователь предоставляет о себе самостоятельно при регистрации (создании учетной записи) или в процессе использования Сервисов, включая персональные данные Пользователя. Обязательная для предоставления Сервисов информация помечена специальным образом.
						p 1.1.2. Данные, которые автоматически передаются сервисам Сайта в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к сервисам), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к сервисам, адреса запрашиваемых страниц и иная подобная информация.
						p 1.1.3. Настоящая Политика конфиденциальности применяется только к Сайту <a href="https://frankauto.ru">https://frankauto.ru</a>. Сайт  <a href="https://frankauto.ru">https://frankauto.ru</a>  не контролирует и не несет ответственности за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте <a href="https://frankauto.ru">https://frankauto.ru</a> 

						h2 2. ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЕЙ

						p 2.1. Сайт собирает и хранит только ту персональную информацию, которая необходима для предоставления сервисов или исполнения соглашений и договоров с Пользователем, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.
							<br>В случае получения уведомления от Пользователя об отзыве согласия на обработку персональных данных Сайт прекращает обработку персональных данных Пользователя в срок, не превышающий 10 рабочих дней с момента получения.
							<br>Уведомление об отзыве согласия на обработку персональных данных направляется на адрес электронной почты: info@frankauto.ru, а также путем письменного обращения адресу: г. Москва, Ярославское шоссе дом 42 (с пометкой: Персональные данные)
						p 2.2. Персональную информацию Пользователя Сайт обрабатывает в следующих целях:
						p 2.2.1. Идентификации Пользователя, зарегистрированного на Сайте, для предоставления коммерческих услуг.
						p 2.2.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта.
						p 2.2.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработку запросов и заявок от Пользователя.
						p 2.2.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
						p 2.2.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
						p 2.2.6. Создания учетной записи для ведения отчетности о предоставлении коммерческих услуг, если Пользователь дал согласие на создание учетной записи.
						p 2.2.7. Уведомления Пользователя Сайта о предоставленной услуге.
						p 2.2.8. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Сайта.
						p 2.2.9. Осуществления рекламной деятельности с согласия Пользователя в том числе информирования Пользователя посредством отправки электронных писем о деятельности Компании новых продуктах и услугах, специальных предложениях, и различных событиях.
						p 2.2.10. предоставление информации о Компании и оказываемых услугах привлеченными Администрацией сайта специалистами.
						p 2.2.11. Обезличенные данные Пользователя, собираемые на Сайте с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователя на Сайте, улучшения качества работы Сайта и его содержания, удобства его использования.

						h2 3. УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЕЙ И ЕЕ ПЕРЕДАЧИ ТРЕТЬИМ ЛИЦАМ

						p 3.1. Сайт хранит персональную информацию Пользователей в соответствии с внутренними регламентами конкретных сервисов.
						p 3.2. В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных сервисов Пользователь соглашается с тем, что определенная часть его персональной информации становится общедоступной.
						p 3.3. Сайт вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:
						p 3.3.1. Пользователь выразил согласие на такие действия.
						p 3.3.2. Передача необходима для использования Пользователем определенного сервиса либо для исполнения определенного соглашения или договора с Пользователем.
						p 3.3.4. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры.
						p 3.3.5. В случае продажи Сайта к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации.
						p 3.4. Обработка персональных данных Пользователя осуществляется без ограничения срока следующими способами: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств. Обработка персональных данных Пользователей осуществляется в соответствии с Федеральным законом от 27.07.2006 N 152-ФЗ "О персональных данных".
						p 3.5. При утрате или разглашении персональных данных Администрация Сайта информирует Пользователя об утрате или разглашении персональных данных.
						p 3.6. Администрация Сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
						p 3.7. Администрация Сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.

						h2 4. КАТЕГОРИИ СУБЪЕКТОВ И ДАННЫЕ КОТОРЫЕ ОБРАБАТЫВАЮТСЯ

						p 4.1. В соответствии с целями обработки персональных данных, указанными в настоящей̆ Политике, Компанией осуществляется обработка персональных данных следующих категорий субъектов:

						ul
							li Пользователи

						p 4.2. Перечень обрабатываемых персональных данных для  Пользователя:

						ul
							li фамилия, имя, отчество;
							li адрес электронной̆ почты;
							li номер телефона;
							li стандартные технические и иные данные, автоматически получаемые Администрацией сайта при доступе Пользователя к Сайту и последующих действиях Пользователя на Сайте (месторасположение в определённый̆ момент времени, IP-адрес, вид операционной̆ системы устройства Пользователя, разделы Сайта, посещаемые Пользователем).

						p 4.3. иные сведения, необходимые для достижения целей обработки персональных данных в соответствии с условиями настоящей̆ Политики.

						h2 5. ОБЯЗАТЕЛЬСТВА СТОРОН

						p 5.1. Пользователь обязан:
						p 5.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом.
						p 5.1.2. Обновлять, дополнять предоставленную информацию о персональных данных в случае изменения данной информации.
						p 5.2. Администрация Сайта обязана:
						p 5.2.1. Использовать полученную информацию исключительно для целей, указанных в настоящей Политике конфиденциальности.
						p 5.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением предусмотренных настоящей Политикой конфиденциальности.
						p 5.2.3. Для обеспечения защиты персональных данных Пользователя при их обработке приняты правовые, организационные и технические меры от несанкционированного, неправомерного или случайного доступа к персональным данным, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных.
						p 5.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки в случае выявления недостоверных персональных данных или неправомерных действий.

						h2 6. ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ БЕЗ ИСПОЛЬЗОВАНИЯ СРЕДСТВ АВТОМАТИЗАЦИИ

						p 6.1.1. Персональные данные при их обработке, осуществляемой̆ без использования средств автоматизации, должны обособляться от иной̆ информации, в частности путем фиксации их на отдельных материальных носителях персональных данных.
						p 6.1.2. При фиксации персональных данных на материальных носителях не допускается фиксация на одном материальном носителе персональных данных, цели обработки которых заведомо не совместимы. Для обработки различных категорий персональных данных для каждой̆ категории персональных данных должен использоваться отдельный̆ материальный̆ носитель.
						p 6.1.3. Обработка персональных данных, осуществляемая без использования средств автоматизации, должна осуществляться таким образом, чтобы в отношении каждой̆ категории персональных данных можно было определить места хранения персональных данных и установить перечень лиц, осуществляющих обработку персональных данных (имеющих к ним доступ). Перечень мест хранения материальных носителей̆ персональных данных утверждается локальным актом Оператора.
						p 6.1.4. Лица, осуществляющие обработку персональных данных, должны быть проинформированы о факте обработки ими персональных данных, категориях обрабатываемых персональных данных, а также об особенностях и правилах осуществления такой̆ обработки, установленных нормативными правовыми актами и локальными актами Оператора.

						h2 7. ОТВЕТСТВЕННОСТЬ СТОРОН

						p 7.1. Администрация Сайта, не исполнившая свои обязательства, несет ответственность за убытки, понесенные Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации.
						p 7.2. В случае утраты или разглашения конфиденциальной информации Администрация Сайта не несет ответственности, если данная конфиденциальная информация:
						p 7.2.1. Стала публичным достоянием до ее утраты или разглашения.
						p 7.2.2. Была получена от третьей стороны до момента ее получения Администрацией Сайта.
						p 7.2.3. Была разглашена с согласия Пользователя.

						h2 8. РАЗРЕШЕНИЕ СПОРОВ

						p 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем Сайта и Администрацией Сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
						p 8.2. Получатель претензии в течение 14 календарных дней со дня получения претензии письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
						p 8.3. При недостижении соглашения спор будет передан на рассмотрение в суд в соответствии с действующим законодательством Российской Федерации.
						p 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией Сайта применяется действующее законодательство Российской Федерации.

						h2 9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ

						p 9.1. Администрация Сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя и его непосредственного уведомления.
						p 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.
						p 9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать по электронной почте info@frankauto.ru , Администрация сайта не берет на себя обязательства по ответам на предложения и вопросы, за исключением случаев, прямо предусмотренных законодательством Российской Федерации.
						p 9.4. Действующая Политика конфиденциальности размещена на странице по адресу: <a href="https://frankauto.ru/privacy/">https://frankauto.ru/privacy/</a>