extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Услуги"

block content
	.page-layout(data-js="pageLayout")
		+s-breadcrumbs({
			items: [
				{
					name: 'FrankAuto',
					link: 'javascript:void(0);'
				},
				{
					name: 'Услуги',
					link: 'javascript:void(0);'
				}
			],
		})

		section.section.section--title
			.section__container
				.section__header.section__content
					.title.title--40
						h1 Услуги

		+s-banner({
			img: '<picture><source srcset="img/services/kp_services_mob.webp" media="(max-width: 767px)"><img src="img/services/kp_services.webp" alt=""></picture>'
		})
			.cp-tradein
				.title.title--30.title--light.cp-tradein__title Перебьем предложения от конкурентов!
					.cp-tradein__subtitle Скидки от 10 до 25% на стоимость автомобиля

				+form({
					classes: 'cp-tradein__form form--horizontal form--light',
					btnText: 'Получить предложение',
				})
					+field({
						tag: 'input',
						type: 'tel',
						placeholder: 'Ваш телефон',
						inputAttr: {
						'required': '',
						'data-v-name': 'phone',
						'data-type': 'phoneNumber'
						},
					})

		+s-reviews({
			title: 'Нам доверяют'
		})