extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Сервисное обслуживание"

block content
    .page-layout(data-js="pageLayout")
        +s-breadcrumbs({
            items: [
                {
                    name: 'FrankAuto',
                    link: 'javascript:void(0);'
                },
                {
                    name: 'Сервисное обслуживание',
                    link: 'javascript:void(0);'
                },
            ],
        })

        section.section.section--title
            .section__container
                .section__header.section__content
                    .title.title--40
                        h1 Сервисное обслуживание

        +home-selection({
            servicesPage: true
        })

        +s-news({
            title: 'Нужно каждой машине',
            btn: {
                classes: 'section-header__btn',
                name: 'Смотреть все',
                cMode: 'bordered',
                sMode: 'content'
            },
            slides: '3',
            cards: [
                {
                    classes: 'swiper-slide',
                    img: 'img/news/news_1.webp',
                    title: 'Кузовной ремонт в FRANK AUTO',
                    text: 'Ремонт любой сложности, устранение любых неисправностей и уникальные в РФ услуги для всех моделей Li Auto',
                    tag: 'Кузовной ремонт',
                    date: '25.10.2025'
                },
                {
                    classes: 'swiper-slide',
                    img: 'img/news/news_2.webp',
                    title: 'ДИСТАНЦИОННАЯ ДИАГНОСТИКА',
                    text: 'Если у вас возникли сложности с доступом к вашему мастер-аккаунту на LiXiang, не переживайте — мы поможем!',
                    tag: 'Аккаунт авто',
                    date: '25.10.2025'
                },
                {
                    classes: 'swiper-slide',
                    img: 'img/news/news_3.webp',
                    title: 'КЕРАМИЧЕСКОЕ ПОКРЫТИЕ',
                    text: 'Ремонт любой сложности, устранение любых неисправностей и уникальные в РФ услуги для всех моделей Li Auto',
                    tag: 'Сервис',
                    date: '25.10.2025'
                }
            ]
        })