extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Акции"

block content
    .page-layout(data-js="pageLayout")
        +s-breadcrumbs({
            items: [
                {
                    name: 'FrankAuto',
                    link: 'javascript:void(0);'
                },
                {
                    name: 'Акции',
                    link: 'javascript:void(0);'
                },
            ],
        })

        section.section.section--title
            .section__container
                .section__header.section__content
                    .title.title--40
                        h1 Акции

        +news-list({
            stocksPage: true,
            cards: [
                {
                    title: 'ВСТРЕЧАЙТЕ ВЕСНУ ВМЕСТЕ С ROX',
                    text: 'При покупке ROX с 1 до 30 апреля 2025 года вы получите выгоду до 750 000 руб.! Это отличная возможность стать обладателем современного и технологичного автомобиля по выгодной цене.',
                    img: 'img/stocks/stock_4.webp',
                    date: '25.10.2025',
                    tag: 'Акции сервиса'
                },
                {
                    title: 'МЕЧТА С ГАРАНТИЕЙ',
                    text: 'Специальная акция! Все лучшее сразу! Уникальные преимущества при покупке любого автомобиля в FRANK AUTO',
                    img: 'img/stocks/stock_6.webp',
                    date: '25.10.2025',
                    tag: 'Отдел продаж'
                },
                {
                    title: 'ZEEKR 001, 009 и 009 Grand 2025 года выпуска уже в наличии',
                    text: 'И мы готовы предложить вам лучшие условия для покупки любой модели ZEEKR',
                    img: 'img/stocks/stock_8.webp',
                    date: '25.10.2025',
                    tag: 'Акции сервиса'
                },
                {
                    title: 'АВТОКРЕДИТ С ДОКРИЗИСНОЙ СТАВКОЙ!',
                    text: 'Специальная кредитная программа на автомобили с докризисной ставкой ВСЕГО 17% ГОДОВЫХ. Это ваш шанс приобрести автомобиль на выгодных условиях и забыть о высоких процентах!',
                    img: 'img/stocks/stock_1.webp',
                    date: '25.10.2025',
                    tag: 'Отдел продаж'
                },
                {
                    title: 'Автомобили 2024 года с максимальной выгодой в наличии',
                    text: 'Время ограничено, и количество автомобилей, ввезенных до повышения утильсбора, стремительно уменьшается. Не упустите шанс приобрести новый автомобиль 2024 года выпуска по старым ценам в автоцентрах FRANK AUTO.',
                    img: 'img/stocks/stock_5.webp',
                    date: '25.10.2025',
                    tag: 'Акции сервиса'
                },
                {
                    title: 'Собери автомобиль мечты с телеграмм ботом',
                    text: 'Представляем вам нашего нового Телеграмм Бота, который поможет вам собрать автомобиль вашей мечты и сразу узнать его стоимость!',
                    img: 'img/stocks/stock_2.webp',
                    date: '25.10.2025',
                    tag: 'Отдел продаж'
                },
                {
                    title: 'У нас 3 = 5!',
                    text: 'Приобретайте автомобиль в FRANK AUTO с гарантией на 3 года и получите 2 года гарантии в подарок!',
                    img: 'img/stocks/stock_7.webp',
                    date: '25.10.2025',
                    tag: 'Акции сервиса'
                },
                {
                    title: 'Честная выгода от FRANK AUTO - выбирайте с умом!',
                    text: 'Устали от предложений, которые звучат слишком хорошо, чтобы быть правдой?  В мире, где конкуренты только обещают выгоду до 1 300 000 рублей, мы предлагаем нечто большее — честность и прозрачность.',
                    img: 'img/stocks/stock_3.webp',
                    date: '25.10.2025',
                    tag: 'Отдел продаж'
                },
                {
                    title: 'Получите максимум удовольствия от вашего нового автомобиля!',
                    text: 'Падение курса доллара - это отличная возможность для тех, кто стремится приобрести автомобиль выгодно. Не упустите время: доллар падает - цены тоже',
                    img: 'img/stocks/stock_9.webp',
                    date: '25.10.2025',
                    tag: 'Акции сервиса'
                },
                {
                    title: 'Получите максимум удовольствия от вашего нового автомобиля!',
                    text: 'При покупке нового электрического или гибридного автомобиля, мы с радостью поможем вам установить* зарядную станцию',
                    img: 'img/stocks/stock_10.webp',
                    date: '25.10.2025',
                    tag: 'Отдел продаж'
                },
                {
                    title: 'ВСТРЕЧАЙТЕ ВЕСНУ ВМЕСТЕ С ROX',
                    text: 'При покупке ROX с 1 до 30 апреля 2025 года вы получите выгоду до 750 000 руб.! Это отличная возможность стать обладателем современного и технологичного автомобиля по выгодной цене.',
                    img: 'img/stocks/stock_4.webp',
                    date: '25.10.2025',
                    tag: 'Акции сервиса'
                },
                {
                    title: 'МЕЧТА С ГАРАНТИЕЙ',
                    text: 'Специальная акция! Все лучшее сразу! Уникальные преимущества при покупке любого автомобиля в FRANK AUTO',
                    img: 'img/stocks/stock_6.webp',
                    date: '25.10.2025',
                    tag: 'Отдел продаж'
                },
            ]
        })