extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Авто с пробегом детальная"

block content
	.page-layout(data-js="pageLayout")
		+s-breadcrumbs({
			items: [
				{
					name: 'FrankAuto',
					link: 'javascript:void(0);'
				},
				{
					name: 'Авто с пробегом',
					link: 'javascript:void(0);'
				},
				{
					name: 'Аренда Zeekr 009',
					link: 'javascript:void(0);'
				}
			],
		})

		+cp-intro({
			usedPage: true,
			title: 'Zeekr 009',
			params: [

			{
			param: 'Год выпуска:',
			value: '2025'
			},
			{
			param: 'Кузов:',
			value: 'Минивэн'
			},
			{
			param: 'Коробка:',
			value: 'Автоматическая'
			},
			{
			param: 'Привод:',
			value: 'Полный'
			},
			{
			param: '30 000 км:',
			value: 'Полный'
			},
			{
			param: 'Цвет:',
			value: 'Белый'
			},
			{
			param: 'Находится в салоне:',
			value: 'Новорижское ш., 17й км, с3'
			},
			]
		})

		+uc-offers

		+s-text({
			hasBlock: true
		})
			h2 Описание Zeekr 009
			p Ищете автомобиль, который подойдёт именно вам? В Frank Auto мы не просто продаём машины — мы помогаем подобрать транспорт, который идеально соответствует вашим потребностям, стилю жизни и бюджету. От проверенных городских седанов до мощных внедорожников — у нас вы найдёте всё. Мы тщательно проверяем каждый автомобиль по техническому состоянию и юридической чистоте. Покупая у Frank Auto, вы можете быть уверены: никаких скрытых дефектов, полная история авто и честная цена. А для вашего удобства — онлайн-подбор, консультации и возможность забронировать автомобиль без визита в автосалон.

		+tech-spec({
			title: 'Технические характеристики Zeekr 009',
			usedPage: true
		})

		+s-banner({
			img: '<picture><source srcset="img/used-car/uc_tradein_mob.webp" media="(max-width: 767px)"><img src="img/used-car/uc_tradein.webp" alt=""></picture>',
			imgPos: 'right'
		})
			.uc-tradein
				.title.title--30.title--light.uc-tradein__title Выгодный Trade-in
				.uc-tradein__subtitle Оценим вашу машину за 10 минут

				+form({
					classes: 'uc-tradein__form form--horizontal form--light',
					btnText: 'Обратный звонок',
				})
					+field({
						classes: '',
						tag: 'select',
						placeholder: 'Бренд',
						inputAttr: {
						'required': '',
						multiple: "multiple"
						},
						selectOptions: [
							"",
							"LiXiang",
							"Voyah",
							"AITO",
							"Chery",
							"Zeekr",
							"Audi",
							"Tank",
							"Rox Motor Tech",
						],
					})
					+field({
						classes: '',
						tag: 'select',
						placeholder: 'Модель',
						inputAttr: {
						'required': '',
						multiple: "multiple"
						},
						selectOptions: [
							"",
							"LiXiang L6",
							"LiXiang L7",
							"LiXiang L9",
							"LiXiang L9",
							"LiXiang Mega",
							"LiXiang One"
						],
					})
					+field({
						classes: '',
						tag: 'select',
						placeholder: 'Год выпуска',
						inputAttr: {
						'required': '',
						},
						selectOptions: [
							"",
							"2020",
							"2021",
							"2022",
							"2023",
							"2024",
							"2025",
						],
					})
					+field({
						classes: '',
						tag: 'select',
						placeholder: 'Тип кузова',
						inputAttr: {
						'required': '',
						},
						selectOptions: [
							"",
							"Седан",
							"Хетчбэк",
							"Универсал",
							"Кроссовер",
							"Минивэн"
						],
					})
					+field({
						tag: 'input',
						type: 'tel',
						placeholder: 'Ваш телефон',
						inputAttr: {
						'required': '',
						'data-v-name': 'phone',
						'data-type': 'phoneNumber'
						},
					})

		+s-catalog({
			title: 'Аналоги за те же деньги',
			isSlider: true,
			items: [
			{
				img: [
					'img/catalog/product_1.webp',
					'img/catalog/product_2.webp',
					'img/catalog/product_3.webp',
					'img/catalog/product_4.webp',
					'img/catalog/product_5.webp',
				],
				title: 'Новый LIXIANG L6 MAX',
				condition: 'С пробегом',
				price: {
					classes: 'catalog-card__price',
					current: '5 500 000 ₽',
					old: '6 200 000 ₽',
					credit: 'от 115 000 ₽/мес <span>в кредит</span>'
				},
			},
			{
				img: [
					'img/catalog/product_2.webp',
					'img/catalog/product_1.webp',
					'img/catalog/product_3.webp',
					'img/catalog/product_4.webp',
					'img/catalog/product_5.webp',
				],
				title: 'LiXiang L7 MAX',
				condition: 'С пробегом',
				price: {
					classes: 'catalog-card__price',
					current: '5 835 192 ₽',
					old: '6 200 000 ₽',
					credit: 'от 115 000 ₽/мес <span>в кредит</span>'
				},
			},
			{
				img: [
					'img/catalog/product_3.webp',
					'img/catalog/product_1.webp',
					'img/catalog/product_2.webp',
					'img/catalog/product_4.webp',
					'img/catalog/product_5.webp',
				],
				title: 'LIXIANG L7 PRO',
				condition: 'С пробегом',
				price: {
					classes: 'catalog-card__price',
					current: '5 660 000 ₽',
					old: '6 200 000 ₽',
					credit: 'от 115 000 ₽/мес <span>в кредит</span>'
				},
			},

		]
		})