.list-width-icons {
    &__list {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        //flex-wrap: wrap;

        /* @include min(large) {
            justify-content: space-between;
        }*/
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
        min-width: 200px;
        max-width: 250px;
        width: min-content;
    }

    &__img {
        width: 120px;
        height: 56px;
        margin: 0 auto 15px;
        background: url("../img/ic.svg");
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__title {
        font-family: $ff-rooftop;
        font-size: 17px;
        line-height: 130%;
        min-height: 2.6em;

        @include max(mobile) {
            font-size: 13px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.375em;
        letter-spacing: 0;
        text-align: center;
        color: $c-text-editor;
    }


}

.teh-list-width-icons {
    .list-width-icons {
        &__block {
            width: 100%;
        }
    }
}