-
    const defaultListWidthIconsProps = {
        classes: ''
    }

mixin list-width-icons(props = defaultListWidthIconsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultListWidthIconsProps.classes
        }

    .list-width-icons(class= checkProps.classes)&attributes(attributes)
        .list-width-icons-block
            .list-width-icons-img
                img(src="img/corp/common-icon1.svg")
            .list-width-icons-text Выгода<br>до&nbsp;1&nbsp;500&nbsp;000&nbsp;₽
        .list-width-icons-block
            .list-width-icons-img
                img(src="img/corp/common-icon2.svg")
            .list-width-icons-text 100&nbsp;000&nbsp;₽  за&nbsp;тест&#8209;драйв
        .list-width-icons-block
            .list-width-icons-img
                img(src="img/corp/common-icon3.svg")
            .list-width-icons-text 17% докризисная ставка
        .list-width-icons-block
            .list-width-icons-img
                img(src="img/corp/common-icon4.svg")
            .list-width-icons-text Услуга  удаленной комиссии
        .list-width-icons-block
            .list-width-icons-img
                img(src="img/corp/common-icon5.svg")
            .list-width-icons-text 2&nbsp;года гарантии  в&nbsp;подарок
