-
    const defaultBrandsListProps = {
        classes: '',
    }

mixin brands-list(props= defaultBrandsListProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultBrandsListProps.classes,
        }

    .brands-list(class= checkProps.classes data-js="brandsList")&attributes(attributes)
        .brands-list__items(data-js="brandsListItems")
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_1.png" alt="")
                span LiXiang (10)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_2.png" alt="")
                span Voyah (5)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_3.png" alt="")
                span AITO (10)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_4.png" alt="")
                span Chery (10)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_5.png" alt="")
                span Zeekr (17)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_6.png" alt="")
                span Audi (16)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_7.png" alt="")
                span Tank (15)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_8.png" alt="")
                span Chevrolet (14)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_9.png" alt="")
                span Rox Motor Tech (13)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_10.png" alt="")
                span Mercedes (12)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_11.png" alt="")
                span Genesis (11)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_12.png" alt="")
                span Citroen (10)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_13.png" alt="")
                span Avatr (9)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_14.png" alt="")
                span Porsche (8)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_15.png" alt="")
                span BMW (7)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_16.png" alt="")
                span Denza (6)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_17.png" alt="")
                span Xiaomi (5)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_18.png" alt="")
                span BYD (4)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_19.png" alt="")
                span Changan (3)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_20.png" alt="")
                span Dodge (2)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_21.png" alt="")
                span DUCATI (10)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_22.png" alt="")
                span EXEED (10)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_23.png" alt="")
                span Fiat (2)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_24.png" alt="")
                span GAC (3)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_25.png" alt="")
                span Geely (4)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_26.png" alt="")
                span Great Wall (5)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_27.png" alt="")
                span HiPhi (6)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_28.png" alt="")
                span Honda (10)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_29.png" alt="")
                span Hongqi (2)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_30.png" alt="")
                span Hyundai (3)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_31.png" alt="")
                span Jetour (4)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_32.png" alt="")
                span KIA (5)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_33.png" alt="")
                span Lamborghini (1)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_34.png" alt="")
                span Land Rover (2)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_35.png" alt="")
                span Lotus (1)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_36.png" alt="")
                span!= "Lynk & Co (6)"
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_37.png" alt="")
                span NIO (10)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_38.png" alt="")
                span Nissan (2)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_39.png" alt="")
                span OMODA (6)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_40.png" alt="")
                span Peugeot (5)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_41.png" alt="")
                span Renault (3)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_42.png" alt="")
                span Skoda (4)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_43.png" alt="")
                span SOVA (1)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_44.png" alt="")
                span SUZUKI (3)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_45.png" alt="")
                span Toyota (10)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_46.png" alt="")
                span Volkswagen (10)
            a(href="javascript:void(0)").brands-list__item(data-js="brandsListItem")
                img(src="img/brands/brand_logo_47.png" alt="")
                span Volvo (2)

        //-+btn({
            classes: 'brands-list__link',
            name: 'Все автомобили',
            cMode: 'light-accent',
            sMode: 'full'
        //-})