.brands-list {
    &__items {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        max-height: 345px;
        overflow: hidden;
        transition: all $tr-time-long linear;
        padding-left: 12px;
        margin-left: -12px;

        @include max(full) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        @include max(laptop-small) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
            max-height: 325px;
            gap: 5px;
        }

        @include max(tablet) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        @include max(mobile) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            max-height: 285px;
        }

        @include max(xs) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 11.4px 11.4px 11.4px 0;
        border-radius: 16px;
        background-color: transparent;
        transition: all $tr-time linear;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text;

        @include max(mobile) {
            font-size: 14px;
        }

        &:hover {
            background-color: $c-bg-main;
        }

        &::before {
            content: '';
            position: absolute;
            left: -11.4px;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 16px;
            background-color: $c-bg-main;
            opacity: 0;
            visibility: hidden;
            transition: all $tr-time linear;
            z-index: 0;
        }

        &:hover::before {
            opacity: 1;
            visibility: visible;
        }

        img {
            display: none;
            position: relative;
            z-index: 1;
            width: 38px;
            height: 38px;
            object-fit: contain;

            @include max(mobile) {
                width: 30px;
                height: 30px;
            }
        }

        span {
            position: relative;
            z-index: 1;
        }
    }

    &__link.btn {
        margin: 26px auto 0;
        max-width: 454px;

        .show {
            display: block;
        }

        .hide {
            display: none;
        }
    }

    &__link.showed {
        .show {
            display: none;
        }

        .hide {
            display: block;
        }
    }
}

.brands-list {
    &--full {
        padding: 20px 25px 4px 45px;

        @include max(laptop-small) {
            padding: 0;
        }
    }

    &--full &__items {
        display: grid;
        gap: 20px 5px;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        max-height: 263px;

        @include max(full) {
            grid-template-columns: repeat(6, minmax(0, 1fr));
        }

        @include max(laptop-small) {
            grid-template-columns: repeat(5, minmax(0, 1fr));
            gap: 5px;
            max-height: 242px;
        }

        @include max(tablet) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        @include max(mobile) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include max(xs) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    &--full &__link {
        margin: 40px auto 0;

        @include max(laptop-small) {
            margin-top: 20px;
        }

    }

}