.cp-tradein {
    max-width: 750px;
    margin: 0 auto;

    @include max(mobile) {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        position: relative;
        margin-bottom: 30px;
        width: fit-content;

        @include max(mobile) {
            width: 100%;
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
        }
    }

    &__subtitle {
        margin-top: 10px;
        font-family: $ff-inter;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text-light-1
    }

    &__form {
        .form__privacy {
            margin-top: 15px;
        }

        @include max(mobile) {
            margin-top: auto;
        }
    }

    &__sticker {
        padding: 20px 30px;
        position: absolute;
        right: auto;
        left: calc(100% + 35px);
        top: 0;
        transform: rotate(8.02deg);
        transform-origin: right top;
        white-space: nowrap;

        span {
            color: $c-white;
        }

        @include max(tablet) {
            top: 5px;
        }

        @include max(mobile) {
            position: relative;
            width: 100%;
            text-align: center;
            right: auto;
            left: 0;
            top: 0;
            transform: none;
            order: 2;
            margin-top: auto;
            padding: 8px 16px;
            margin-top: 50px;
        }
    }
}