.compare {

    &__actions {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-top: 16px;
        flex: 0 0 auto;

        @include max(tablet) {
            align-self: flex-end;
            margin-top: 0;
        }

        @include max(mobile) {
            flex-wrap: wrap;
        }

    }

    &__header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        @include max(tablet-small) {
            justify-content: space-between;
        }
    }

    &__controls {
        margin-left: auto;

        @include max(tablet-small) {
            display: none;
        }
    }

    &__tabs {
        @include max(tablet-small) {
            order: 2;
            flex-basis: 100%;
        }
    }

}

.compare-block {
    padding: 10px;

    @include max(tablet) {
        padding: 0;
    }

    @include max(mobile) {
        margin-right: -10px;
    }

    &__actions {
        width: fit-content;
        margin-top: 0;
        flex-shrink: 1;

        @include max(tablet) {
            align-self: center;
        }
    }

    &__paramwrap {
        position: relative;
        margin-left: 0;
    }

    &__prods {
        overflow: hidden;
        position: relative;
        padding-bottom: 30px;

        @include max(mobile) {
            padding-right: 10px;
        }

        .swiper-wrapper {
            align-items: stretch;
        }
    }

    &__params {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        gap: 0;
        overflow: visible;

        @include max(mobile) {
            padding-right: 10px;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px 0;
        border-radius: 10px;

        &:nth-child(odd) {
            background-color: $c-bg-compare;

        }
    }

    &__list {
        flex: 0 0 100%;
        max-width: 100%;
        overflow: hidden;
        margin-right: -12px;
        padding-right: 12px;

        @include max(tablet) {
            flex-basis: auto;
            max-width: 100%;
        }
    }

    &__prod,
    &__cell {
        flex: 0 0 330px;
        width: 330px;

        @include max(laptop-small) {
            flex-basis: 310px;
            width: 310px;
        }

        @include max(tablet-small) {
            max-width: calc((100% - 10px) / 2);
        }

    }

    &__cell {
        color: $c-text;
        padding: 0 0 0 15px;
        font-family: $ff-roboto;
        font-weight: 300;
        font-size: 15px;
        line-height: 1em;

        &--title {
            width: 100%;
            flex-basis: auto;
            font-weight: 500;

            @include max(laptop-small) {
                flex-basis: auto;
                width: 100%;
            }
        }

    }
}

.compare-prod {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    @include max(tablet-small) {
        padding: 0;
    }

    &__remove {
        svg {
            color: $c-error;
        }

        &:hover {

            svg {
                color: $c-error;
            }
        }
    }

    &__photo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 178px;
        border-radius: 19px;
        overflow: hidden;
        margin-top: 15px;

        @include max(tablet-small) {
            height: auto;
            aspect-ratio: 1 / 0.574;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__favorite {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(40px);

        svg {
            width: 15px;
            height: 15px;
        }

        svg {
            fill: transparent;
            color: $c-white;
        }

        &.active svg {
            fill: $c-favorite;
            color: $c-favorite;
        }
    }

    &__title {
        margin-top: 10px;
        margin-bottom: 15px;
        color: $c-text;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2em;
        letter-spacing: -0.02em;
    }

    &__price {
        margin-top: auto;
    }
}