.uc-tradein {
    @include max(mobile) {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__subtitle {
        color: $c-text-light-1;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0;
        margin-top: 10px;
        margin-bottom: 30px;

        @include max(mobile) {
            margin-bottom: 50px;
        }
    }

    &__form {
        @include max(mobile) {
            margin-top: auto;
        }

        .form__fields {
            display: contents;
        }

        .form__horizontal {
            flex-wrap: wrap;
            gap: 15px;

            @include max(laptop-small) {
                flex-direction: row;
                gap: 15px;
            }

        }

        .field {
            flex: 0 0 calc((100% - 45px) / 4);

            @include max(laptop-small) {
                flex: 0 0 calc((100% - 30px) / 3);
            }

            @include max(tablet) {
                flex: 0 0 calc((100% - 15px) / 2);
            }

            @include max(mobile) {
                flex-basis: 100%;
            }

        }

        .field:nth-child(5) {
            @include min(laptop-small) {
                flex-grow: 1;
            }
        }

        .btn {
            flex: 0 0 30%;

            @include max(laptop-small) {
                flex: 0 0 calc((100% - 30px) / 3);
            }

            @include max(tablet) {
                flex: 0 0 calc((100% - 15px) / 2);
            }

            @include max(mobile) {
                flex-basis: 100%;
            }
        }
    }
}