.teh-intro-block{
  margin-top: 30px;
  margin-bottom: 20px;
}

.teh-text-block{
  max-width: 926px;
  margin-left: auto;
  margin-right: auto;
  @include max(mobile) {
    margin-left: 10px;
    margin-right: 10px;
  }
}