.news-list {

    &__block {
        @include max(mobile) {
            padding: 0;
            background-color: transparent;
            overflow: visible;
        }
    }

    &__filter {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 24px;
        max-width: 100%;

        @include max(mobile) {
            flex-direction: column;
            gap: 10px;

            .select2.select2-container--default {
                background-color: $c-white;
            }
        }
    }

    &__scroll {
        flex: 1 1 auto;
        overflow-x: auto;
        max-width: 100%;
        width: 100%;
    }

    &__tabs {
        display: flex;
        gap: 10px;

        @include max(mobile) {
            .field--tab .fake-checkbox {
                border: none;
                background-color: $c-white;
            }
        }

    }

    &__sort {
        width: fit-content;
        flex: 0 0 325px;

        @include max(tablet-small) {
            flex-basis: 200px;

            .select2.select2-container--default {
                border-radius: 10px;
            }

            .select2.select2-container--default .select2-selection--single .select2-selection__rendered,
            .select2.select2-container--default .select2-selection--single .select2-selection__placeholder {
                font-size: 12px;
            }

            .select2.select2-container--default .select2-selection--single {
                min-height: 38px;
                padding: 12px 15px;
            }
        }

        @include max(mobile) {
            flex-basis: auto;
            min-width: 200px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, auto));
        gap: 50px 20px;
        margin-top: 50px;

        @include max(large) {
            grid-template-columns: repeat(2, minmax(0, auto));
        }

        @include max(mobile) {
            margin-top: 20px;
            gap: 10px;
            grid-template-columns: minmax(0, auto);

            .news-card {
                background-color: $c-white;
                padding: 10px;
                border-radius: 10px;
            }
        }
    }
}