.cm-accordeon {
    &__list {
        margin-top: 50px;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        gap: 20px;

        @include max(mobile) {
            margin-top: 15px;
        }
    }
}

.cm-spoiler {
    border-radius: $br-section;
    overflow: hidden;

    @include max(mobile) {
        border-radius: $br-section-mob;
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 20px 30px;
        background-color: #DEE1E8;
        cursor: pointer;

        @include max(tablet) {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
        }

        @include max(mobile) {
            padding: 15px 10px;
            gap: 15px 0;
        }
    }

    &__mode {
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text;

        @include max(tablet) {
            flex: 0 0 calc(100% - 100px);
        }
    }

    &__params {
        display: flex;
        gap: 10px;

        @include max(tablet) {
            order: 2;
        }
    }

    &__param {
        display: flex;
        align-items: center;
        gap: 7px;
        padding: 12px;
        background-color: $c-white;
        border-radius: $br-section;
        color: $c-text;
        font-weight: 400;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 0;

        @include max(mobile) {
            padding: 7px 10px;
        }

        svg {
            width: 8px;
            height: 12px;
            color: $c-accent-2;
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        font-family: $ff-rooftop;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text;
        flex: 0 0 auto;
        margin-right: auto;

        @include max(mobile) {
            flex-direction: row-reverse;
            padding-top: 5px;
            align-items: center;
        }

        .current {
            font-weight: 500;
            font-size: 20px;

            @include max(mobile) {
                font-size: 18px;
            }
        }

        .old {
            font-weight: 400;
            font-size: 18px;
            text-decoration: line-through;

            @include max(mobile) {
                font-size: 16px;
                color: $c-text-breadcrumbs;
            }
        }

        .discount {
            font-weight: 400;
            font-size: 16px;
            text-decoration: line-through;
            color: $c-text-breadcrumbs;

            @include max(mobile) {
                font-size: 16px;
                color: $c-text-breadcrumbs;
            }
        }

        &--header {
            flex-direction: row;
            gap: 20px;

            @include max(laptop-small) {
                flex-direction: column;
                gap: 10px;
            }

            @include max(tablet) {
                order: 2;
            }

        }
    }

    &__arrow {
        @include max(mobile) {
            position: relative;
        }
    }

    &__mode+&__arrow {
        margin-left: auto;
    }

    &__arrow svg {
        width: 40px;
        height: 40px;
        color: $c-accent-2;
        transition: all 0.4s linear;
    }

    &.expanded &__arrow svg {
        transform: rotate(-180deg);
    }

    &__content {
        background-color: $c-white;
        overflow: hidden;
        display: none;
    }

    &__top {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding: 20px 30px;
        gap: 25px;


        @include max(tablet) {
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
        }

        @include max(mobile) {
            padding: 15px 10px;
            gap: 20px;
        }
    }

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    &__base {
        flex: 0 1 auto;
        display: flex;
        gap: 20px;
        width: 40%;

        @include max(large) {
            flex: 1 1 auto;
        }

        @include max(tablet) {
            width: 100%;
        }

        @include max(mobile) {
            display: contents;
        }
    }

    &__img {
        position: relative;
        flex: 0 0 40%;
        aspect-ratio: 1 / 0.5625;
        width: 40%;

        @include max(laptop-small) {
            align-self: flex-start;
        }

        @include max(mobile) {
            flex-basis: auto;
            width: 100%;

            .prod-controls__item {
                width: 54px;
                height: 54px;
            }

            .prod-controls__item svg {
                width: 25px;
                height: 25px;
            }
        }


    }

    &__slider {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;

            @include max(mobile) {
                border-radius: 10px;
            }
        }
    }

    &__sticker {
        position: absolute;
        right: 0;
        top: -10px;
        background-color: $c-accent;
        color: $c-white;
        font-weight: 600;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0;
        border-radius: $br-section;
        padding: 3px 10px;
        z-index: 2;

        @include max(mobile) {
            right: 10px;
        }
    }

    &__controls {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 3;
    }

    &__desc {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        align-self: stretch;

        @include max(mobile) {
            gap: 15px;
            width: 100%;
        }
    }

    &__title {
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text;

        @include max(mobile) {
            font-size: 22px;
        }
    }

    &__chars {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        @include max(mobile) {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            width: 100%;
            gap: 7px 5px;
            margin-top: 0;
        }
    }

    &__char {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        min-height: 40px;
        padding: 11px 12px;
        background-color: $c-bg-main;
        border-radius: 20px;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.2em;
        letter-spacing: -0.02em;
        color: $c-text;

        @include max(mobile) {
            font-size: 10px;
            padding: 7px;
            min-height: 30px;
        }

        img {
            width: 18px;
            height: 18px;
            object-fit: contain;
            object-position: center;

            @include max(mobile) {
                width: 14px;
                height: 14px;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px 10px;
        margin-top: 20px;
        margin-bottom: 20px;

        @include max(mobile) {
            margin-top: 0;
            margin-bottom: 0;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__inf {
        display: flex;
        align-items: center;
        gap: 7px;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text-breadcrumbs;

        svg {
            width: 24px;
            height: 24px;
        }

    }

    &__more {
        position: relative;
        z-index: 5;
        margin-top: auto;
        gap: 5px;
        border-radius: $br-section;
        padding-top: 14px;
        padding-bottom: 14px;

        @include max(tablet) {
            display: none;
        }

        svg {
            width: 24px;
            height: 24px;
        }

        .btn__arrow {
            width: 16px;
            height: 16px;
            margin-left: 10px;
            color: $c-text-breadcrumbs;
            transition: all $tr-time linear;
        }

        &.expanded .btn__arrow {
            transform: rotate(-180deg);
        }

        &--mob {
            display: none;
            margin: 5px 10px 20px;
            width: calc(100% - 20px);

            @include max(tablet) {
                display: flex;
            }
        }
    }

    &__scroll {
        flex: 1 1 auto;
        width: fit-content;

        @include max(large) {
            flex: 0 0 auto;
        }

        @include max(mobile) {
            width: 100%;
            overflow: auto;
        }
    }

    &__gifts {
        width: 100%;
        display: flex;
        gap: 15px;

        @include max(large) {
            flex-direction: column;
            align-items: flex-start;
        }

        @include max(mobile) {
            flex-direction: row;
            gap: 10px;
        }
    }

    &__gift {
        min-width: max-content;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 13px 15px;
        border-radius: $br-btn-input;
        background-color: $c-bg-input;
        font-weight: 700;
        font-size: 13px;
        line-height: 1.23em;
        letter-spacing: 0;
        color: $c-text;

        @include max(mobile) {
            min-width: max-content;
        }

        img {
            width: 24px;
            height: 24px;
            object-fit: contain;
            object-position: center;
        }

        .text>span {
            display: block;
            opacity: 0.7;
        }
    }

    &__btns {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;

        @include max(mobile) {
            width: 100%;
            align-items: stretch;
            margin-top: 5px;
        }
    }

    &__btn {
        position: relative;
        z-index: 5;

        @include max(mobile) {
            width: 100%;
        }
    }

    &__credit {
        flex: 0 0 auto;
        color: $c-text;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0;
        text-align: right;

        @include max(mobile) {
            br {
                display: none;
            }
        }
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 20px;

        @include max(laptop-small) {
            flex-direction: column;
            gap: 10px;
        }

        @include max(tablet) {
            flex-direction: row;
            gap: 20px;
        }

        @include max(mobile) {
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }
    }

    &__bottom {
        display: none;
        overflow: hidden;
        padding: 20px 30px 30px;
        border-top: 1px solid rgba(135, 142, 156, 0.3);

        @include max(mobile) {
            padding: 15px 10px;
        }
    }

    &__detailed {
        display: flex;
        align-items: flex-start;
        gap: 30px;

        @include max(tablet) {
            flex-direction: column;
        }

        @include max(mobile) {
            gap: 20px;
        }
    }

    &__list {
        flex: 0 1 33%;
    }

    .tech-spec__row {
        @include max(mobile) {
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;

            &::after {
                display: none;
            }
        }
    }

}

.cm-spoiler-list {
    display: flex;
    align-items: flex-start;
    gap: 15px;

    @include max(mobile) {
        gap: 10px;
    }

    &__icon {
        width: 90px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/catalog-brand/quick_app_shape.svg);
        background-size: 100% 100%;
        flex-shrink: 0;

        @include max(mobile) {
            width: 68px;
            height: 44px;
        }

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;

            @include max(mobile) {
                width: 40px;
                height: 40px;
            }
        }
    }

    &__text {
        color: $c-text;
        padding-top: 15px;

        @include max(mobile) {
            padding-top: 10px;
        }
    }

    &__title {
        margin-bottom: 15px;
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0;

        @include max(mobile) {
            margin-bottom: 5px;
        }
    }

    &__items {
        font-weight: 400;
        font-size: 15px;
        line-height: 35px;
        letter-spacing: 0;

        @include max(mobile) {
            line-height: 30px;
        }
    }
}