.cb-intro {
    &__block {
        padding: 92px 60px 126px;

        @include max(laptop-small) {
            padding: 60px 20px 94px;
        }

        @include max(tablet) {
            padding: 60px 15px 94px;
        }

        @include max(mobile) {
            padding: 22px 10px 94px;
        }
    }

    &__bg::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
    }

    &__top {
        position: relative;
        max-width: 748px;
    }

    &__title {
        line-height: 1.2em;

        @include max(xs) {
            line-height: 1.38em;
        }
    }

    &__sticker {
        position: absolute;
        right: -70px;
        top: -8px;
        transform: rotate(8.02deg);
        transform-origin: right bottom;

        @include max(tablet) {
            right: 0;
            top: -14px;
        }

        @include max(mobile) {
            right: auto;
            left: 0;
            top: calc(100% + 5px);
            transform-origin: left bottom;
        }
    }

    &__subtitle {
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 23px;
        line-height: 1.435em;
        letter-spacing: 0;
        color: $c-white;
        margin-top: 5px;
        max-width: 600px;

        @include max(mobile) {
            margin-top: 10px;
            font-size: 16px;
            line-height: 1.625em;
        }
    }

    &__price {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        font-family: $ff-rooftop;
        letter-spacing: 0;
        color: $c-text;

        .old {
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            text-decoration: line-through;
        }

        .current {
            font-weight: 800;
            font-size: 26px;
            line-height: 36px;

            @include max(mobile) {
                font-size: 24px;
                line-height: 1em;
            }
        }
    }

    &__stock {
        margin-top: 19px;
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 0;
    }

    &__advantages {
        display: flex;
        align-items: stretch;
        gap: 10px;
        margin-top: 83px;

        @include max(tablet) {
            flex-wrap: wrap;
        }

        @include max(mobile) {
            margin-top: 160px;
        }
    }

    &__advantage {
        flex: 0 1 auto;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 15px;
        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(30px);
        padding: 15px 30px 15px 20px;
        border-radius: $br-section;
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.429em;
        letter-spacing: 0;
        color: $c-white;

        @include max(laptop-small) {
            padding: 15px 20px;
        }

        @include max(tablet) {
            padding: 5px 15px 5px 10px;
            border-radius: 10px;
            gap: 10px;
            flex: 0 0 calc((100% - 10px) / 2);
        }

        @include max(mobile) {
            font-size: 10px;
            padding: 5px 10px 5px 5px;
        }
    }

    &__icon {
        width: 50px;
        height: 50px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include max(mobile) {
            width: 25px;
            height: 25px;
        }

        img {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 28px;
            height: 28px;
            object-fit: contain;

            @include max(mobile) {
                width: 14px;
                height: 14px;
            }
        }

        svg {
            width: 42px;
            height: 43px;

            @include max(mobile) {
                width: 21px;
                height: 22px;
            }
        }
    }

    &__offer {
        margin-top: -70px;
        padding: 0 60px 0;

        @include max(laptop-small) {
            padding: 0 20px;
        }

        @include max(tablet) {
            padding: 0 15px;
        }

        @include max(mobile) {
            padding: 0px 10px;
        }

    }
}

.cb-intro {
    &--model &__block {
        padding: 40px 60px;

        @include max(laptop-small) {
            padding: 40px 20px;
        }

        @include max(tablet) {
            padding: 20px 20px 90px;
        }

        @include max(mobile) {
            padding: 20px 10px 90px;
        }
    }

    &--model &__bg {
        display: none;
    }

    &--model &__content {
        display: flex;
        gap: 50px;
        align-items: stretch;
        justify-content: space-between;

        @include max(laptop-small) {
            gap: 24px;
        }

        @include max(tablet) {
            flex-direction: column;
            gap: 15px;
        }
    }

    &--model &__top {
        position: relative;
        padding-bottom: 40px;
        padding-top: 10px;
        z-index: 2;
        flex: 0 0 44%;

        @include max(laptop-small) {
            flex-basis: 53%;
        }

        @include max(tablet) {
            display: contents;
        }
    }

    &--model &__title {
        position: relative;
        width: fit-content;

        @include max(tablet) {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 15px;
            width: 100%;
        }
    }

    &--model &__sticker {
        right: auto;
        top: auto;
        bottom: -15px;
        left: calc(100% + 35px);
        transform-origin: center;

        @include max(tablet) {
            position: relative;
            right: 0;
            left: 0;
            top: 0;
            transform: none;
            order: 2;
            padding: 8px 16px;
        }

        @include max(xs) {
            width: 100%;
            text-align: center;
        }

        span {
            color: $c-white;
            white-space: nowrap;
        }
    }

    &--model &__stock {
        @include max(tablet) {
            margin-top: 0;
        }
    }

    &--model &__advantages {
        margin-top: 19px;
        padding-bottom: 40px;
        flex-direction: column;

        @include max(tablet) {
            order: 2;
            flex-direction: row;
            overflow-x: auto;
            align-items: stretch;
            margin-top: 0;
            padding-bottom: 0;
        }

    }

    &--model &__advantage {
        background-color: $c-bg-main;
        color: $c-text;

        @include max(tablet) {
            border-radius: 10px;
            padding: 10px 15px 10px 10px;
            width: max-content;
            white-space: nowrap;
        }

    }

    &--model &__slider {
        position: relative;
        flex: 0 0 52%;

        @include max(laptop-small) {
            flex-basis: 44%;
            align-self: flex-start;
        }

        @include max(tablet) {
            flex-basis: auto;
            width: 100%;
        }
    }
}

.cb-offer {
    position: relative;
    background-color: $c-white;
    padding: 30px;
    border-radius: $br-section;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    z-index: 5;

    &--bordered {
        border: 2px solid $c-bg-main;
    }

    @include max(tablet) {
        padding: 20px 15px;
        gap: 24px;
    }

    @include max(mobile) {
        flex-direction: column;
        border-radius: $br-section-mob;
        gap: 15px;
    }

    &__left {
        flex: 0 0 236px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;

        @include max(mobile) {
            flex-basis: auto;
            align-items: flex-start;
        }
    }

    &__title {
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.15em;
        letter-spacing: 0;
        text-align: right;
        color: $c-text;

        @include max(mobile) {
            text-align: left;
        }
    }

    &__date {
        padding: 7px 15px;
        font-weight: 800;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-white;
        background-color: $c-accent;
        border-radius: 25px;

        @include max(mobile) {
            font-size: 14px;
            background-color: $c-accent-2;
            border-radius: 10px;
            line-height: 16px;
        }
    }

    &__form.form {

        .form-privacy {
            margin-top: 10px;
        }

        .form-privacy__text {
            font-size: 14px;
        }
    }
}

.color-slider {
    overflow: hidden;
    position: relative;

    &__images {
        border-radius: $br-section;
        overflow: hidden;
        height: 100%;
    }

    .swiper-wrapper {
        align-items: stretch;
    }

    &__slide {
        height: auto;
        aspect-ratio: 1 / 0.5625;

        @include max(mobile) {}
    }

    &__img {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__tabs {
        position: absolute;
        left: 10px;
        bottom: 46px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(40px);
        z-index: 3;
        max-width: calc(100% - 20px);

        @include max(laptop-small) {
            bottom: 10px;
        }
    }

    &__tab {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border-radius: 5px;
        cursor: pointer;

        svg {
            width: 20px;
            height: 20px;
            opacity: 0;
            transition: all 0.1s linear;
        }

        &.swiper-slide-thumb-active svg {
            opacity: 1;
        }
    }
}