.news-card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $c-text-breadcrumbs;

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    &__img {
        width: 100%;
        aspect-ratio: 1 / 0.62;
        border-radius: 25px;
        overflow: hidden;

        @include max(tablet) {
            border-radius: 10px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__tags {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding-top: 20px;

        @include max(tablet) {
            padding-top: 10px;
        }

    }

    &__right {
        margin-left: auto;
        display: contents;
        align-items: center;
        gap: 15px;
    }

    &__brand {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: $ff-roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0;
        color: #262626;

        img {
            width: 29px;
            height: 29px;
            object-fit: contain;
        }
    }

    &__tag {
        padding: 6.5px 12px;
        border-radius: 12px;
        background-color: $c-bg-main;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
    }

    &__title {
        margin-top: 15px;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0;
        text-transform: uppercase;
        color: $c-text;

        @include max(tablet) {
            font-size: 15px;
        }
    }

    &__text {
        margin-top: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        @include max(tablet) {
            font-size: 14px;
        }
    }

}

.news-card {
    &--small &__tags {
        margin-top: auto;
        order: 2;
    }


    &--small &__title {
        margin-top: 20px;
    }

    &--small &__text {
        margin-top: 20px;
        margin-bottom: 20px;

        @include max(tablet) {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}

.news-card {
    &--service &__tags {
        @include max(laptop-small) {
            display: contents;
        }
    }

    &--service &__right {
        @include max(laptop-small) {
            display: flex;
            padding-top: 10px;
            width: 100%;
            margin-left: 0;
            justify-content: space-between;
        }
    }

    &--service &__tag--date {
        @include max(laptop-small) {
            order: 2;
            width: fit-content;
            margin-top: 15px;
        }
    }
}