.s-banner {
    &__block {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $c-black;
        padding-left: 22.86%;

        @include max(laptop-small) {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 20%;
        }

        @include max(mobile) {
            min-height: 72vh;
            display: flex;
            align-items: stretch;
        }
    }

    &__bg {
        width: 53%;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to left, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 100%);

            @include max(mobile) {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.6) 100%);
            }
        }

        @include max(mobile) {
            width: 100%;
            height: 51%;
            top: 16px;
        }
    }
}

.s-banner {
    &--right &__bg {
        width: 48%;
        left: auto;
        right: 0;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 100%);

            @include max(mobile) {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.6) 100%);
            }
        }
    }

    &--right &__block {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 39%;

        @include max(laptop-small) {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
            padding-right: 30%;
        }
    }

}