extends layouts/default

block variables
    - const title = "Страницы"

block content

    style(type="text/css").
        .pages-list__links {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 20px;
            margin-top: 30px;
        }

        .pages-list__subtitle {
            margin-top: 60px;
            font-size: 32px !important;
        }

        .pages-list__link {
            position: relative;
            font-size: 26px;
            text-decoration: none;
            color: var(--c-text);
            transition: color 0.3s linear;
            line-height: 1.02em;
            min-height: 3.06em;
            padding-right: 160px;

            span {
                font-size: 0.7em;
                opacity: 0.7;
            }
        }

        .pages-list__link:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            font-size: 14px;
            line-height: 1.02em;
            padding: 5px 10px;
            border-radius: 3px;
            width: fit-content;
        }

        .pages-list__link--check {
            padding-right: 155px;
        }

        .pages-list__link--check:after {
            content: "проверка / правки";
            background-color: #ffffcc;
            color: #ff6a00;
        }


        .pages-list__link--postponed:after {
            content: "отложено / очередь";
            background-color: #dedede;
            color: #212121;
        }

        .pages-list__link--work {
            padding-right: 85px;
        }

        .pages-list__link--work:after {
            content: "в работе";
            background-color: #9FC5F8;
            color: #000044;
        }

        .pages-list__link--ready {
            padding-right: 85px;
        }

        .pages-list__link--ready:after {
            content: "натяжка";
            background-color: #93C47D;
            color: #04412B;
        }

        .pages-list__link:hover {
            color: var(--c-accent);
        }

        @media (max-width: 600px) {
            .pages-list__link {
                padding-right: 0;
                padding-top: 30px;
            }

            .pages-list__link:after {
                left: 0;
                right: auto;
            }
        }

        @media (max-width: 1340px) {

            .pages-list__links {
                grid-gap: 15px;
                margin-top: 40px;
            }

            .pages-list__link {
                font-size: 20px;
            }
        }

        @media (max-width: 1023px) {

            .pages-list__links {
                grid-template-columns: 1fr;
                grid-gap: 20px;
                margin-top: 40px;
            }

            .pages-list__link {
                min-height: auto;
            }
        }

    .page-layout
        section.section.pages-list
            .section__container
                h1.title.title--50.pages-list__title Страницы

                .pages-list__links
                    a.pages-list__link.pages-list__link--check(href="home.html" target="_blank") Главная
                    a.pages-list__link.pages-list__link--check(href="catalog.html" target="_blank") Каталог
                    a.pages-list__link.pages-list__link--check(href="catalog-brand.html" target="_blank") Марка-Бренд
                    a.pages-list__link.pages-list__link--check(href="catalog-model.html" target="_blank") Модель-Товар
                    a.pages-list__link.pages-list__link--check(href="catalog-product.html" target="_blank") Торговое предложение
                    a.pages-list__link.pages-list__link--check(href="used-cars.html" target="_blank") Авто с пробегом
                    a.pages-list__link.pages-list__link--check(href="used-car.html" target="_blank") Авто с пробегом (детальная)
                    a.pages-list__link.pages-list__link--check(href="sm.html" target="_blank") Сервисное обслуживание
                    a.pages-list__link.pages-list__link--check(href="compare.html" target="_blank") Сравнение автомобилей
                    a.pages-list__link.pages-list__link--check(href="contacts.html" target="_blank") Контакты
                    a.pages-list__link.pages-list__link--check(href="about.html" target="_blank") О компании
                    a.pages-list__link.pages-list__link--check(href="news.html" target="_blank") Новости
                    a.pages-list__link.pages-list__link--check(href="stocks.html" target="_blank") Акции
                    a.pages-list__link.pages-list__link--check(href="stocks-detailed.html" target="_blank") Акция (детальная)
                    a.pages-list__link.pages-list__link--check(href="delivery.html" target="_blank") Доставка автомобиля
                    a.pages-list__link.pages-list__link--check(href="corporate.html" target="_blank") Корпоративным клиентам
                    a.pages-list__link.pages-list__link--check(href="teh.html" target="_blank") Техцентр
                    a.pages-list__link.pages-list__link--check(href="credit.html" target="_blank") Кредитование
                    a.pages-list__link.pages-list__link--check(href="trade-in.html" target="_blank") Trade-in
                    a.pages-list__link.pages-list__link--check(href="insurance.html" target="_blank") Страхование
                    a.pages-list__link.pages-list__link--check(href="test-drive.html" target="_blank") Тест драйв
                    a.pages-list__link.pages-list__link--check(href="rent.html" target="_blank") Аренда авто
                    a.pages-list__link.pages-list__link--check(href="rent-brand.html" target="_blank") Аренда + бренд
                    a.pages-list__link.pages-list__link--check(href="guarantee.html" target="_blank") Гарантия
                    a.pages-list__link.pages-list__link--check(href="disposal.html" target="_blank") Утилизация
                    a.pages-list__link.pages-list__link--work(href="services.html" target="_blank") Услуги
                    //-a.pages-list__link.pages-list__link--work(href="sm-brand.html" target="_blank") Сервисное обслуживание. Бренд

                    //-a.pages-list__link.pages-list__link--ready(href="services.html" target="_blank") Услуги
                    //-a.pages-list__link.pages-list__link--ready(href="product-safety.html" target="_blank") Безопасность изделия
                    //-a.pages-list__link.pages-list__link--ready(href="team.html" target="_blank") Наша команда
                    //-a.pages-list__link.pages-list__link--ready(href="factory.html" target="_blank") О заводе
                    //-a.pages-list__link.pages-list__link--ready(href="docs.html" target="_blank") Документы
                    a.pages-list__link.pages-list__link--check(href="404.html" target="_blank") 404