-
    const defaultProdControlsProps = {
        classes: '',
        compare: false,
        favorite: false,
    }

mixin prod-controls(props= defaultProdControlsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultProdControlsProps.classes,
            compare: props.compare ? props.compare : defaultProdControlsProps.compare,
            favorite: props.favorite ? props.favorite : defaultProdControlsProps.favorite,
        }

    .prod-controls(class= checkProps.classes)&attributes(attributes)
        - if(checkProps.compare === true)
            a(href="javascript:void(0);").prod-controls__item
                svg
                    use(xlink:href=`img/sprites/sprite.svg#compare`)
        //- if(checkProps.favorite === true)
            a(href="javascript:void(0);").prod-controls__item
                svg
                    use(xlink:href=`img/sprites/sprite.svg#favorite`)