.home-selection {
    overflow: hidden;

    &__sidebar {
        background-color: $c-white;
        border-radius: $br-section;
        padding: 24px 30px;
        display: flex;
        align-items: stretch;

        @include max(mobile) {
            padding: 10px;
            border-radius: 10px;
        }
    }

    &__tabs {
        background-color: $c-white;
        border-radius: $br-section;
    }
}