.home-selection {
    overflow: hidden;

    &__sidebar {
        background-color: $c-white;
        border-radius: $br-section;
        padding: 24px 30px;
        display: flex;
        align-items: stretch;

        @include max(mobile) {
            padding: 10px;
            border-radius: 10px;
        }
    }

    &__tabs {
        background-color: $c-white;
        border-radius: $br-section;

        @include max(mobile) {
            border-radius: $br-section-mob;
        }
    }

    &__brands {
        border-radius: $br-section;
        background-color: $c-white;
        padding: 34px 25px;
    }

    .form-filter__title {
        //margin-bottom: auto;
    }

    .form-filter__fields {
        flex: 0 0 auto;
    }

    .form-filter__submit.btn {
        margin-top: 0;
    }
}