.quick-app {

    &__container {
        display: flex;
        align-items: center;
    }

    &__block {
        display: flex;
        align-items: center;
        background-color: $c-white;
        flex: 1 1 auto;
        margin-right: -384px;
        padding: 40px 400px 40px 60px;
        border-radius: $br-section;
        min-height: 258px;
    }

    &__content {
        //max-width: 740px;
    }

    &__title {
        margin-bottom: 20px;
        line-height: 1em;
    }

    &__media {
        position: relative;
        flex: 0 0 auto;
        height: 326px;
    }

    &__svg {
        position: absolute;

    }

    &__svg--1 {
        left: 77px;
        bottom: 36px;
        color: $c-text-breadcrumbs;

        svg {
            width: 140px;
            height: 150px;
        }
    }

    &__svg--2 {
        top: 58px;
        right: 107px;
        color: $c-accent-2;

        svg {
            width: 132px;
            height: 174px;
        }
    }

    &__img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        img {
            max-width: none;
        }

    }

    &__mask {
        width: 584px;
        height: 326.5px;
        mask-clip: border-box;
        mask-size: 100% 100%;
        mask-image: url(../img/masks/home_credit_mask.svg);
        background-color: #4E5A65;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: none;
        }
    }
}