.quick-app {

    &__container {
        display: flex;
        align-items: center;
    }

    &__block {
        display: flex;
        align-items: center;
        background-color: $c-white;
        flex: 1 1 auto;
        margin-right: -384px;
        padding: 40px 400px 40px 60px;
        border-radius: $br-section;
        min-height: 258px;

        @include max(laptop-small) {
            margin-right: -265px;
            padding: 20px 290px 20px 20px;
        }

        @include max(tablet) {
            padding: 20px;
            margin-right: 0;
        }

        @include max(mobile) {
            padding: 20px 10px;
            border-radius: 10px;
        }
    }

    .form-privacy .form-privacy__text,
    .form-privacy .form-privacy__text a {
        @include max(mobile) {
            font-size: 14px;
        }
    }

    &__title {
        position: relative;
        margin-bottom: 20px;
        line-height: 1.2em;
        width: fit-content;

        @include max(mobile) {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
        }
    }

    &__title &__subtitle {
        font-family: $ff-inter;
        font-weight: 600;
        font-size: 23px;
        line-height: 100%;
        letter-spacing: 0;
    }

    &--product &__title &__subtitle {
        @include max(tablet) {
            display: none;
        }
    }

    &__sticker.title-sticker {
        padding-top: 12px;
        padding-bottom: 12px;
        position: absolute;
        left: calc(100% + 20px);
        top: 0px;
        transform: rotate(8.02deg);
        transform-origin: center;
        white-space: nowrap;

        span {
            color: $c-white;
            line-height: 20px;

            @include max(mobile) {
                font-size: 30px;
                line-height: 30px;
            }
        }

        @include max(mobile) {
            position: relative;
            transform: none;
            left: 0;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    &__flex {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 20px;
        margin-bottom: 30px;

        @include max(mobile) {
            flex-direction: column;
            margin-bottom: 20px;
            gap: 13px;
        }
    }

    &__left {
        flex: 0 0 auto;
        padding: 17.5px 7px 6px;
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 46px;
        line-height: 100%;
        letter-spacing: 0;
        background-image: url(../img/catalog-brand/quick_app_shape.svg);
        background-size: 100% 100%;

        @include max(mobile) {
            padding: 17.5px 17px 6px;

        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.57em;
        letter-spacing: 0;
        color: $c-text;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.57em;
        letter-spacing: 0;
        color: $c-text-breadcrumbs;
    }

    &__media {
        position: relative;
        flex: 0 0 auto;

        @include max(tablet) {
            display: none;
        }
    }

    &__svg {
        position: absolute;

    }

    &__svg--1 {
        left: 77px;
        bottom: 36px;
        color: $c-text-breadcrumbs;

        @include max(laptop) {
            left: 88px;
            bottom: 25px;
        }

        svg {
            width: 140px;
            height: 150px;

            @include max(laptop) {
                width: 98px;
                height: 105px;
            }
        }
    }

    &__svg--2 {
        right: 107px;
        top: 58px;
        color: $c-accent-2;

        @include max(laptop) {
            right: 90px;
            top: 40px;
        }

        svg {
            width: 132px;
            height: 174px;

            @include max(laptop) {
                width: 92px;
                height: 122px;
            }
        }
    }

    &__img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        img {
            max-width: none;
        }

    }

    &__mask {
        width: 584px;
        height: 326.5px;
        mask-clip: border-box;
        mask-size: 100% 100%;
        mask-image: url(../img/masks/home_credit_mask.svg);
        background-color: #4E5A65;

        @include max(laptop) {
            width: 408.8px;
            height: 228.55px;
        }

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: none;
        }
    }

    &__tags {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px 40px;
        margin-bottom: 30px;

        @include max(full) {
            max-width: 800px;
        }
    }

    &__tag {
        display: flex;
        align-items: center;
        gap: 15px;
        flex: 0 1 auto;
        min-width: 290px;
        max-width: calc(100% - 290px - 40px);
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0;

        .tag-title {
            display: block;
            font-weight: 500;
            color: $c-text;
        }

        .tag-text {
            font-weight: 400;
            color: $c-text-editor;
        }

        svg {
            flex-shrink: 0;
            width: 16px;
            height: 22px;
            color: $c-accent-2;
        }
    }
}

.quick-app {
    @include max(tablet) {
        &--dark &__block {
            background: linear-gradient(107.18deg, #56636E 11.96%, #2E333F 97.96%);
        }

        &--dark &__subtitle {
            color: $c-white;
        }

        &--dark &__text {
            color: $c-text-light-1;
        }

        &--dark .form-privacy .form-privacy__text,
        &--dark .form-privacy .form-privacy__text a {
            color: $c-white;
        }

        &--dark &__title {
            color: $c-white;
        }
    }
}

.quick-app {
    @include max(mobile) {

        &--center &__subtitle,
        &--center &__title,
        &--center &__text {
            text-align: center;
        }
    }
}