-
    const defaultCpIntroProps = {
        classes: '',
        usedPage: false,
        title: 'Lixiang L7 Pro 449 л.с. Hybrid Turbo 4WD Белый',
        params: [
            {
            param: 'Год выпуска:',
            value: '2025'
            },
            {
            param: 'Кузов:',
            value: 'Минивэн'
            },
            {
            param: 'Двигатель:',
            value: '1.6 л. / 112 л.с. / Бензин'
            },
            {
            param: 'Привод:',
            value: 'Автоматический'
            },
            {
            param: 'Цвет:',
            value: 'Белый'
            },
            {
            param: 'Адрес:',
            value: 'Новорижское ш., 17й км, с3'
            },
        ]
    }

mixin cp-intro(props= defaultCpIntroProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultCpIntroProps.classes,
            usedPage: props.usedPage ? props.usedPage : defaultCpIntroProps.usedPage,
            title: props.title ? props.title : defaultCpIntroProps.title,
            params: props.params ? props.params : defaultCpIntroProps.params,
        }

        const pageClass = checkProps.usedPage === true ? ' cp-intro--used' : ''

    section.section.cp-intro(class= checkProps.classes + pageClass data-js="cpIntro")&attributes(attributes)
        .section__container
            .section-block.cp-intro__block
                .cp-intro__left
                    .cp-intro__slider(data-js="cpIntroSlider")
                        +slider-controls
                        +prod-controls({
                            classes: 'cp-intro__controls prod-controls--blur',
                            compare: true,
                            favorite: true,
                        })
                        .swiper-wrapper
                            .swiper-slide.cp-intro__slide
                                a(href="img/catalog-product/cp_intro_1.webp" data-fancybox="cpIntroSlider" data-thumb="img/catalog-product/cp_intro_1.webp")
                                    img(src="img/catalog-product/cp_intro_1.webp" alt="")
                            .swiper-slide.cp-intro__slide
                                a(href="img/catalog-product/cp_intro_2.webp" data-fancybox="cpIntroSlider" data-thumb="img/catalog-product/cp_intro_2.webp")
                                    img(loading="lazy" src="img/catalog-product/cp_intro_2.webp" alt="")
                                    .swiper-lazy-preloader
                            .swiper-slide.cp-intro__slide
                                a(href="img/catalog-product/cp_intro_3.webp" data-fancybox="cpIntroSlider" data-thumb="img/catalog-product/cp_intro_3.webp")
                                    img(loading="lazy" src="img/catalog-product/cp_intro_3.webp" alt="")
                                    .swiper-lazy-preloader
                            .swiper-slide.cp-intro__slide
                                a(href="img/catalog-product/cp_intro_4.webp" data-fancybox="cpIntroSlider" data-thumb="img/catalog-product/cp_intro_4.webp")
                                    img(loading="lazy" src="img/catalog-product/cp_intro_4.webp" alt="")
                                    .swiper-lazy-preloader
                            .swiper-slide.cp-intro__slide
                                a(href="img/catalog-product/cp_intro_5.webp" data-fancybox="cpIntroSlider" data-thumb="img/catalog-product/cp_intro_5.webp")
                                    img(loading="lazy" src="img/catalog-product/cp_intro_5.webp" alt="")
                                    .swiper-lazy-preloader

                    .cp-intro__thumbs(data-js="cpIntroThumbs")
                        .swiper-wrapper
                            .swiper-slide.cp-intro__thumb
                                img(src="img/catalog-product/cp_intro_1.webp" alt="")
                            .swiper-slide.cp-intro__thumb
                                img(src="img/catalog-product/cp_intro_2.webp" alt="")
                            .swiper-slide.cp-intro__thumb
                                img(src="img/catalog-product/cp_intro_3.webp" alt="")
                            .swiper-slide.cp-intro__thumb
                                img(src="img/catalog-product/cp_intro_4.webp" alt="")
                            .swiper-slide.cp-intro__thumb
                                img(src="img/catalog-product/cp_intro_5.webp" alt="")

                    - if(checkProps.usedPage !== true)
                        .cp-intro__ac
                            .cp-intro__subtitle Доступные цвета
                            .cp-intro__colors
                                a(href="javascript:void(0);").cp-intro__color
                                    span(style="background-color:#000000;")
                                    | Черный
                                a(href="javascript:void(0);").cp-intro__color
                                    span(style="background-color:#ffffff;")
                                    | Белый
                                a(href="javascript:void(0);").cp-intro__color
                                    span(style="background-color:#A9A9A9;")
                                    | Серебро

                .cp-intro__right
                    .title.cp-intro__title!= checkProps.title
                    .cp-intro__params    
                        .tech-spec__rows
                            -let paramsCounter = 0
                            - while(paramsCounter < checkProps.params.length)
                                .tech-spec__row
                                    .tech-spec__param!= checkProps.params[paramsCounter].param
                                    .tech-spec__value!= checkProps.params[paramsCounter].value

                                - paramsCounter++

                        a(href="#techSpec").cp-intro__all.cp-intro__link Все характеристики

                    .custom-scrollbar.cp-intro__scroll(data-js="customScrollbar")
                        .cp-intro__chars
                            .cp-intro__char
                                img(src="img/catalog/chars/fuel.svg" alt="")
                                div
                                    .title Запас хода
                                    .text 240 км.

                            .cp-intro__char
                                img(src="img/catalog/chars/lightning.svg" alt="")
                                div
                                    .title Емкость батареи
                                    .text 53 кВт ч.

                            .cp-intro__char
                                img(src="img/catalog/chars/gear.svg" alt="")
                                div
                                    .title Мощность
                                    .text 554 л.с.

                    .cp-intro__flex
                        .cp-intro__price
                            .old 6 200 000 ₽
                            .current 5 500 000 ₽
                        .cp-intro__btns
                            +btn({
                                name: 'Забронировать онлайн',
                                cMode: 'accent',
                                sMode: 'full'
                            })(data-modal="#reserveModal")

                            - if(checkProps.usedPage === true)
                                .cp-intro__links
                                    a(href="javascript:void(0);").cp-intro__link Купить в кредит
                                    a(href="javascript:void(0);").cp-intro__link Взять в аренду
                            -else
                                +btn({
                                    name: 'В кредит',
                                    cMode: 'light-accent',
                                    sMode: 'full'
                                })(data-modal="#creditModal")

                    .custom-scrollbar.cp-intro__gscroll(data-js="customScrollbar")
                        .cp-intro__gifts
                            - if(checkProps.usedPage === true)
                                .cp-intro__gift
                                    img(src="img/catalog/gift.svg" alt="")
                                    .text Зачёт вашего<br>автомобиля в trade-in
                                .cp-intro__gift
                                    img(src="img/catalog/gift.svg" alt="")
                                    .text Беспроцентная<br>рассрочка 0%
                                .cp-intro__gift
                                    img(src="img/catalog/gift.svg" alt="")
                                    .text Доп. выгода<br>до 200 000 ₽
                            - else
                                .cp-intro__gift
                                    img(src="img/catalog/gift.svg" alt="")
                                    .text Зачёт вашего<br>автомобиля в trade-in
                                .cp-intro__gift
                                    img(src="img/catalog/gift.svg" alt="")
                                    .text Улучшим любое<br>предложение
                                .cp-intro__gift
                                    img(src="img/catalog/gift.svg" alt="")
                                    .text Беспроцентная<br>рассрочка 0%
                                .cp-intro__gift
                                    img(src="img/catalog/gift.svg" alt="")
                                    .text Без первончального<br>взноса