.cp-intro {
    &__block {
        display: flex;
        align-items: flex-start;
        gap: 25px;

        @include max(tablet) {
            flex-direction: column;
            gap: 0;
        }

        @include max(mobile) {
            padding-top: 10px;
        }
    }

    &__left {
        flex: 0 0 50%;
        width: 50%;

        @include max(laptop-small) {
            flex: 0 0 40%;
            width: 40%;
        }

        @include max(tablet) {
            display: contents;
            width: 100%;
            flex-basis: auto;
        }

    }

    &__slider {
        overflow: hidden;
        position: relative;
        max-width: 100%;

        @include max(mobile) {
            max-width: calc(100% + 10px);
            margin-right: -10px;
            padding-right: 10px;
        }

        .slider-controls {
            @include max(mobile) {
                display: none;
            }
        }

        .slider-control {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
        }

        .slider-control--prev {
            left: 10px;
        }

        .slider-control--next {
            right: 10px;
        }
    }

    &__controls {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 3;

        /*@include max(mobile) {
            display: none;
        }*/
    }

    &__slide {
        aspect-ratio: 1 / 0.5625;
        border-radius: 15px 15px 0 0;
        overflow: hidden;

        @include max(mobile) {
            border-radius: 10px;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__thumbs {
        overflow: hidden;
        margin-top: 10px;
        border-radius: 0 0 15px 15px;
        max-width: 100%;

        @include max(mobile) {
            display: none;
        }
    }

    &__thumb {
        width: 150px;
        aspect-ratio: 1 / 0.5625;
        opacity: 0.5;
        transition: opacity $tr-time linear;
        cursor: pointer;

        &.swiper-slide-thumb-active {
            opacity: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    &__ac {
        margin-top: 19px;

        @include max(tablet) {
            margin-top: 30px;
            order: 1;
        }
    }

    &__subtitle {
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0;
    }

    &__colors {
        margin-top: 16px;
        display: flex;
        align-items: stretch;
        gap: 8px;
        flex-wrap: wrap;
    }

    &__color {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px;
        background-color: $c-bg-main;
        border-radius: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0;
        color: $c-text-breadcrumbs;

        span {
            width: 18px;
            height: 18px;
            border-radius: 100%;
        }
    }

    &__right {
        flex: 1 1 auto;

        @include max(tablet) {
            display: contents;
        }
    }

    &__title {
        font-family: $ff-rooftop;
        font-size: 32px;
        color: $c-text;
        line-height: 120%;
        font-weight: 500;

        @include max(tablet) {
            margin-top: 20px;
        }

        @include max(mobile) {
            font-size: 20px;
            line-height: 110%;
        }
    }

    &__params {
        margin-top: 20px;
        width: fit-content;

        @include max(mobile) {
            margin-top: 15px;
        }
    }

    .tech-spec__rows {
        column-count: 1;
        column-width: 470px;
    }

    &__all {
        margin-top: 15px;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        margin-top: 10px;
    }

    &__link {
        display: block;
        width: fit-content;
        color: $c-accent;
        text-decoration: underline;
        transition: all $tr-time linear;

        &:hover {
            text-decoration: underline;
            color: $c-accent-hover;
        }
    }

    &__scroll {
        overflow: auto;
        width: 100%;

        @include max(tablet) {
            order: 2;
        }
    }

    &__chars {
        display: flex;
        align-items: stretch;
        gap: 5px;
        margin-top: 30px;
    }

    &__char {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px 20px 10px 15px;
        border-radius: 20px;
        background-color: $c-bg-main;
        line-height: 120%;
        letter-spacing: 0;
        min-width: fit-content;

        img {
            width: 18px;
            height: 18px;
            object-fit: contain;
        }

        .title {
            font-weight: 400;
            font-size: 14px;
            color: $c-text-breadcrumbs;
        }

        .text {
            font-weight: 600;
            font-size: 15px;
            color: $c-text;
        }
    }

    &__flex {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: space-between;

        @include min(large) {
            justify-content: flex-start;
        }

        @include max(tablet) {
            order: 2;
            width: 100%;
        }

        @include max(mobile) {
            flex-direction: column;
            align-items: stretch;
            gap: 10px;
        }
    }

    &__price {
        flex: 0 0 auto;
        letter-spacing: -0.02em;
        font-weight: 700;
        color: $c-text;

        @include max(mobile) {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 10px;
        }

        .old {
            font-size: 28px;
            text-decoration: line-through;
            opacity: 0.3;
            line-height: 1;

            @include max(mobile) {
                font-size: 19px;
            }
        }

        .current {
            margin-top: 5px;
            font-size: 40px;
            line-height: 1;

            @include max(mobile) {
                font-size: 25px;
                margin-top: 0;
            }
        }
    }

    &__btns {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__gscroll {
        border-top: 1px dashed $c-text-breadcrumbs;
        margin-top: 25px;
        padding-top: 25px;

        @include max(tablet) {
            overflow: auto;
            width: 100%;
            margin-top: 20px;
            order: 2;
            padding-top: 20px;
        }
    }

    &__gifts {
        //display: grid;
        //grid-template-columns: repeat(2, minmax(0, 360px));
        //gap: 10px 25px;
        gap: 10px;
        display: flex;
        align-items: stretch;

        @include max(tablet) {
            //display: flex;
            //gap: 10px;
        }

    }

    &--used &__gscroll {
        @include max(laptop) {
            overflow: auto;
        }
    }

    &--used &__gifts {
        grid-template-columns: minmax(0, 1fr);

        @include max(laptop) {
            display: flex;
            gap: 10px;
            margin-top: 20px;
            padding-top: 20px;
        }

    }

    &__gift {
        width: fit-content;
        min-width: fit-content;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px 15px;
        border-radius: 14px;
        background-color: $c-bg-main;
        font-weight: 700;
        font-size: 15px;
        line-height: 1.333em;
        letter-spacing: 0;
        color: $c-text-editor;

        @include max(mobile) {
            border-radius: 10px;
        }

        img {
            width: 24px;
            height: 24px;
            object-fit: contain;
            object-position: center;
        }
    }
}