.quote {
    position: relative;
    padding: 0px 0px 0px 130px;
    background-color: transparent;

    @include max(tablet) {
        padding: 0px 0px 0px 63px;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        background-image: url(../img/quotes.webp);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100px;
        height: 58px;

        @include max(tablet) {
            width: 50px;
            height: 29px;
        }
    }

    /*&:after {
        content: '';
        position: absolute;
        right: 27px;
        bottom: 25px;
        background-image: url(../img/quotes.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        transform: rotate(180deg);

        @include max(mobile) {
            right: 15px;
            bottom: 15px;
            width: 25px;
            height: 25px;
        }
    }*/

    .text-editor {
        font-style: Italic;
        color: $c-black;
    }

    &__text {
        @include max(mobile) {
            max-height: 100px;
            overflow: hidden;
            transition: all $tr-time-long linear;
        }
    }
}