.img-intro {
    &__block {
        padding: 0;

        /*@include max(laptop-small) {
            padding: 40px 30px;
        }

        @include max(tablet) {
            padding: 20px;
        }*/

        @include max(mobile) {
            padding: 0;
        }
    }

    &__bg {
        position: relative;
        width: 100%;
        height: auto;

        picture,
        img {
            width: 100%;
            height: auto;
        }
    }
}