-
    const defaultImgIntroProps = {
        classes: '',
        img: '<img src="img/catalog/catalog_brand_intro.webp" alt="">',
    }

mixin img-intro(props= defaultImgIntroProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultImgIntroProps.classes,
            img: props.img ? props.img : defaultSBannerProps.img,
        }

    section.section.img-intro(class= checkProps.classes)&attributes(attributes)
        .section__container
            .section-block.img-intro__block
                .section-block__bg.img-intro__bg!= checkProps.img
                .section-block__content
                    block