.home-service {

    .section-header {
        margin-bottom: 30px;
    }

    &__block {
        padding: 20px 20px 40px;

        @include max(tablet) {
            padding: 20px;
        }
    }

    &__list {
        display: flex;
        align-items: stretch;
        gap: 20px;

        @include max(tablet) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__list--grid {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        overflow: hidden;
        transition: all $tr-time linear;

        @include max(tablet) {
            grid-template-columns: repeat(3, minmax(0, 1fr));

            .home-service__card {
                width: 100%;
            }
        }

        @include max(xs) {
            grid-template-columns: repeat(2, minmax(0, 1fr));

            .home-service__card {
                width: 100%;
            }
        }
    }

    &__card {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        @include max(tablet) {
            width: calc((100% - 40px) / 3);
        }

        @include max(xs) {
            width: calc((100% - 20px) / 2);
        }
    }

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__img img {
        width: 120px;
        height: 120px;
        object-fit: contain;

        @include max(xs) {
            width: 100px;
            height: 100px;
        }
    }

    &__text {
        align-items: center;
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 17px;
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
        color: $c-text;

        @include max(xs) {
            font-size: 12px;
        }
    }
}