.config {

    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__title {
        @include max(tablet) {
            order: -1;
            margin-top: 25px;
            margin-bottom: 15px;
        }
    }

    &__left {
        flex: 1 1 auto;

        @include max(tablet) {
            display: contents;
        }

        .form__fields {
            margin-bottom: 0;
        }
    }

    &__right {
        flex: 0 0 58%;
        width: 58%;

        @include max(tablet) {
            display: contents;
            width: 100%;
            flex-basis: auto;

            .cp-intro__slider,
            .cp-intro__thumbs {
                order: -1;
            }

        }

    }

    &__result {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;

        @include max(tablet) {
            margin-top: 40px;
        }

    }

    &__subtitle {
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        letter-spacing: 0;
        color: $c-text;

        @include max(mobile) {
            font-size: 18px;
        }
    }
}

.config-form {
    display: flex;
    align-items: flex-start;
    gap: 25px;

    @include max(tablet) {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    &__field {
        margin-top: 30px;

        .form__fields {
            margin-top: 20px;
        }
    }

    &__field--mtop {
        @include max(tablet) {
            order: -2;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    &__subtitle {
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.3em;
        letter-spacing: 0;
        color: $c-text;
        margin-bottom: 5px;
    }
}

.config-table {
    width: 100%;

    &__row {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        padding: 17px 15px;
        border-top: 1px solid $c-bg-main;

        @include max(laptop-small) {
            gap: 10px;
            padding: 15px 10px;
        }

        @include max(mobile) {
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 10px 0;
        }
    }

    &__row--header,
    &__row--result {
        background-color: $c-bg-compare;
        border-radius: 10px;
        overflow: hidden;

        @include max(mobile) {
            padding: 10px 5px 10px 10px;
        }
    }

    &__row--result {
        border: 2px solid $c-accent-2;
    }

    &__row--header,
    &__row--header+&__row {
        border: none;
    }

    &__row--header &__cell,
    &__row--sub &__cell {
        font-weight: 300;
    }

    &__row--result &__cell {
        font-weight: 500;
    }

    &__row--sub {
        @include max(mobile) {
            padding-left: 10px;
        }
    }

    &__row--sub &__cell--first {
        padding-left: 20px;

        @include max(laptop-small) {
            padding-left: 10px;
        }

        @include max(mobile) {
            padding-left: 0;
        }
    }

    &__cell {
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 0 0 10.54%;
        font-family: $ff-roboto;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text;
        min-width: 100px;
    }

    &__cell--first {
        flex: 1 1 auto;
        display: flex;
        align-items: center;

        @include max(mobile) {
            flex: 0 0 100%;
        }

        svg {
            width: 10px;
            height: 15px;
            color: $c-accent-2;
        }
    }
}