.field-range {
    position: relative;
    padding-bottom: 60px;

    &--margins {
        margin-top: auto;
        margin-bottom: auto;
    }

    &__input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }

    .noUi-horizontal {
        height: 10px;
    }

    .noUi-target {
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        width: 100%;
        border: none;
        background-color: $c-bg-input;
        box-shadow: none;
        border-radius: 12px;
    }

    .noUi-connect {
        background-color: $c-accent;
        border-radius: 12px;
    }

    .noUi-handle {
        width: 25px;
        height: 25px;
        right: -12.5px;
        top: -7.5px;
        border: 5px solid $c-accent;
        background-color: $c-bg-input;
        box-shadow: none;
        border-radius: 100%;
        cursor: pointer;

        &:before,
        &::after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='19' height='14' viewBox='0 0 19 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.49519 2.125C7.64989 0.125003 10.5366 0.125 11.6913 2.125L18.1865 13.375H0L6.49519 2.125Z' fill='%23EDF0F6'/%3E%3C/svg%3E");
            background-size: 100%;
            position: absolute;
            background-color: transparent;
            width: 19px;
            height: 16px;
            top: 21px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .noUi-tooltip {
        bottom: auto !important;
        top: calc(100% + 31px);
        background-color: $c-bg-main;
        border-radius: 12px;
        border: none;
        padding: 10px;
        font-family: $ff-inter;
        font-weight: 600;
        font-size: 16px;
        line-height: 1em;
        letter-spacing: 0;

    }
}