.site-footer {
    margin-top: auto;
    color: $c-white;

    &__section.section {
        padding-bottom: 24px;

        @include max(mobile) {
            padding: 0;
        }
    }

    &__block {
        background-color: $c-bg-dark;
        border-radius: $br-footer;

        @include max(tablet) {
            border-radius: 16px;
        }

        @include max(mobile) {
            border-radius: 10px;
        }
    }

    &__row {
        display: flex;
        gap: 34px;
        padding-left: 36px;
        padding-right: 36px;

        @include max(laptop-small) {
            padding-left: 24px;
            padding-right: 24px;
            gap: 24px;
        }

        @include max(tablet) {
            padding-left: 20px;
            padding-right: 20px;
        }

        @include max(mobile) {
            padding-left: 10px;
            padding-right: 10px;
            gap: 24px 16px;
        }
    }

    &__top {
        align-items: center;
        padding-top: 25px;
        padding-bottom: 18px;

        @include max(laptop-small) {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include max(tablet) {
            padding-bottom: 25px;
        }

    }

    &__logo {
        flex: 0 0 180px;

        @include max(mobile) {
            flex-basis: 115px;
        }

    }

    &__rating {
        flex: 0 0 202px;
        height: 98px;
    }

    &__nav {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        @include max(laptop-small) {
            flex: 0 0 100%;
            justify-content: flex-start;
        }

        @include max(mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__middle {
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 36px;
        padding-bottom: 45px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);

        @include max(tablet) {
            padding-top: 25px;
            padding-bottom: 25px;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: flex-start;
        }
    }

    &__list {
        flex: 0 1 auto;

        &--catalog {
            @include max(tablet) {
                width: 100%;
                flex: 0 0 100%;
            }
        }

        &--contacts {
            @include max(mobile) {
                order: -1;
            }
        }
    }

    &__title {
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0;
        text-transform: uppercase;
        opacity: 0.5;
    }

    &__links {
        flex: 0 0 auto;

    }

    &__list--catalog &__links {
        columns: 5;
        flex: 0 1 auto;
        width: 640px;

        @include max(laptop-small) {
            width: 410px;
            columns: 3;
        }

        @include max(tablet) {
            width: 100%;
            columns: 110px auto;
        }

        @include max(xs) {
            columns: 100px auto;
        }
    }

    &__link {
        display: block;
        margin-bottom: 14px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-white;
        transition: color $tr-time linear;

        &:hover {
            color: $c-accent-hover;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 18px;
        max-width: 275px;
    }

    &__socials {
        margin-top: 38px;
        justify-content: start;

        .socials__item svg {
            width: 20px;
            height: 20px;
        }

        @include max(tablet) {
            margin-top: 30px;
        }
    }

    &__bottom {
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 40px;
        padding-bottom: 42px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);

        @include max(tablet) {
            flex-direction: column;
            gap: 30px;
            padding: 25px;
            padding-bottom: 20px;
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 28px;
        flex: 0 1 840px;

        @include max(laptop-small) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        @include max(tablet) {
            flex: 0 0 auto;
            gap: 10px;
        }
    }

    &__copyright,
    &__doc {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-white;
    }

    &__doc {
        opacity: 0.4;
        transition: all $tr-time linear;

        &:hover {
            color: $c-accent-hover;
        }
    }

    &__disclaimer {
        opacity: 0.4;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0;

        @include max(tablet) {
            margin-top: 17px;
        }
    }

    &__developer {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0;
        opacity: 0.4;
    }
}

.footer-contact {
    display: flex;
    align-items: center;
    gap: 12px;
    color: $c-white;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;

    &__icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-grey;
        flex-shrink: 0;
        border-radius: 14px;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    a.footer-contact__title {
        transition: color $tr-time linear;
    }

    a.footer-contact__title:hover {
        color: $c-accent-hover;
    }

    &__text {
        opacity: 0.5;
        margin-top: 2px;
    }

}