footer.site-footer
	.section.site-footer__section
		.section__container
			.site-footer__block
				.site-footer__row.site-footer__top
					.site-footer__logo
						img(src="img/logo/logo_footer.svg" alt="")
					.site-footer__rating
						<div style="width:100%;height:100%;overflow:hidden;position:relative;"><iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/49212829293?size=m"></iframe></div>
					.site-footer__nav
						+btn({
							name: 'Каталог',
							sMode: 'footer',
							cMode: 'grey'
						})
						+btn({
							name: 'С пробегом',
							sMode: 'footer',
							cMode: 'grey'
						})
						+btn({
							name: 'О компании',
							sMode: 'footer',
							cMode: 'grey'
						})
						+btn({
							name: 'Акции',
							sMode: 'footer',
							cMode: 'grey'
						})
						+btn({
							name: 'Сервис',
							sMode: 'footer',
							cMode: 'grey'
						})
				.site-footer__row.site-footer__middle
					.site-footer__list.site-footer__list--catalog
						.site-footer__title Каталог
						.site-footer__links
							a(href="javascript:void(0);").site-footer__link Kia
							a(href="javascript:void(0);").site-footer__link Hyundai
							a(href="javascript:void(0);").site-footer__link Skoda
							a(href="javascript:void(0);").site-footer__link Volkswagen
							a(href="javascript:void(0);").site-footer__link Toyota
							a(href="javascript:void(0);").site-footer__link Brilliance
							a(href="javascript:void(0);").site-footer__link Changan
							a(href="javascript:void(0);").site-footer__link Chery
							a(href="javascript:void(0);").site-footer__link CheryExeed
							a(href="javascript:void(0);").site-footer__link Chevrolet
							a(href="javascript:void(0);").site-footer__link Citroen
							a(href="javascript:void(0);").site-footer__link Datsun
							a(href="javascript:void(0);").site-footer__link Dongfeng
							a(href="javascript:void(0);").site-footer__link DW Hower
							a(href="javascript:void(0);").site-footer__link FAW
							a(href="javascript:void(0);").site-footer__link Ford
							a(href="javascript:void(0);").site-footer__link Foton
							a(href="javascript:void(0);").site-footer__link GAC
							a(href="javascript:void(0);").site-footer__link Geely
							a(href="javascript:void(0);").site-footer__link Great Wall
							a(href="javascript:void(0);").site-footer__link Haima
							a(href="javascript:void(0);").site-footer__link Haval
							a(href="javascript:void(0);").site-footer__link Honda
							a(href="javascript:void(0);").site-footer__link JAC
							a(href="javascript:void(0);").site-footer__link Lada
							a(href="javascript:void(0);").site-footer__link Lifan
							a(href="javascript:void(0);").site-footer__link Mazda
							a(href="javascript:void(0);").site-footer__link Mitsubishi
							a(href="javascript:void(0);").site-footer__link Nissan
							a(href="javascript:void(0);").site-footer__link Opel
							a(href="javascript:void(0);").site-footer__link Peugeot
							a(href="javascript:void(0);").site-footer__link Ravon
							a(href="javascript:void(0);").site-footer__link Renault
							a(href="javascript:void(0);").site-footer__link SsangYong
							a(href="javascript:void(0);").site-footer__link Suzuki
							a(href="javascript:void(0);").site-footer__link UAZ
							a(href="javascript:void(0);").site-footer__link Zotye

					.site-footer__list
						.site-footer__title Услуги
						.site-footer__links
							a(href="javascript:void(0);").site-footer__link Экспресс-кредит
							a(href="javascript:void(0);").site-footer__link Страхование
							a(href="javascript:void(0);").site-footer__link Продление гарантии
							a(href="javascript:void(0);").site-footer__link Тест-драйв
							a(href="javascript:void(0);").site-footer__link Утилизация
							a(href="javascript:void(0);").site-footer__link Trade-in
							a(href="javascript:void(0);").site-footer__link Доставка из-за рубежа

					.site-footer__list.site-footer__list--contacts
						.site-footer__title Контакты
						.site-footer__contacts
							.site-footer__contact.footer-contact
								.footer-contact__icon
									svg
										use(xlink:href=`img/sprites/sprite.svg#handset`)
								.footer-contact__desc
									a(href="tel:+74994606219").footer-contact__title +7 (499) 460-62-19
									.footer-contact__text Россия, Москва, Новорижское ш.,17й км,с3

							.site-footer__contact.footer-contact
								.footer-contact__icon
									svg
										use(xlink:href=`img/sprites/sprite.svg#handset`)
								.footer-contact__desc
									a(href="tel:+74991165065").footer-contact__title +7 (499) 116-50-65
									.footer-contact__text Россия, Москва, Ярославское ш., д.42

							.site-footer__contact.footer-contact
								.footer-contact__icon
									svg
										use(xlink:href=`img/sprites/sprite.svg#timer`)
								.footer-contact__desc
									.footer-contact__title Ежедневно <br>с 08:00 до 21:00

						+socials({
							classes: 'site-footer__socials'
						})

				.site-footer__row.site-footer__bottom
					.site-footer__info
						.site-footer__copyright ©2025 Автосалон FRANK AUTO
						a(href="javascript:void(0);").site-footer__doc Политика конфиденциальности
						a(href="javascript:void(0);").site-footer__doc Пользовательское соглашение
						.site-footer__disclaimer Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.
					a(href="https://itspace.group/").site-footer__developer
						span Разработка сайта
						img(src="img/logo/its_logo.svg" alt="it space group")
