-
    const defaultInfoListProps = {
        classes: '',
        cards: [
            {
                title: '40 кредитных программ на выбор',
                text: '',
                img: 'img/info-list/info_item_1.webp',

            },
            {
                title: 'Срок кредитования до 7 лет',
                text: '',
                img: 'img/info-list/info_item_2.webp',
            },
            {
                title: 'Размер кредита до 3 000 000 ₽',
                text: '',
                img: 'img/info-list/info_item_3.webp',
            },
            {
                title: 'Досрочное погашение без штрафа',
                text: '',
                img: 'img/info-list/info_item_4.webp',

            },
            {
                title: 'Первоначальный взнос от 0%',
                text: '',
                img: 'img/info-list/info_item_5.webp',

            },
            {
                title: 'Ставка по кредиту от 1,9%',
                text: '',
                img: 'img/info-list/info_item_6.webp',
            },
            {
                title: 'Процент одобрения кредита 98%',
                text: '',
                img: 'img/info-list/info_item_7.webp',
            },
            {
                title: 'Ответ кредитных специалистов в течение 30 минут',
                text: '',
                img: 'img/info-list/info_item_8.webp',
            },

        ],
    }

mixin info-list(props= defaultInfoListProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSServicesProps.classes,
            cards: props.cards ? props.cards : defaultSServicesProps.cards,
        }

    section.section.info-list(class= checkProps.classes)&attributes(attributes)
        .section__container.section__content
            .info-list__slider(data-js="sAdvantagesSlider")
                .swiper-wrapper
                    - let cardsCount = 0
                    -while(cardsCount < checkProps.cards.length)
                        - let card = checkProps.cards[cardsCount]
                        .info-list__card.swiper-slide
                            //-.info-list__inner
                            .info-list__content
                                .info-list__img
                                    img(src=card.img alt="")
                                .info-list__icon
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#exc`) 
                                .info-list__texts
                                    .info-list__title!= card.title
                                    -if(card.text.length > 0)
                                        .info-list__text!= card.text                         

                        - cardsCount++
