.info-list {
    &__slider {
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 40px 24px;

        @include max(tablet) {
            display: block;
        }

        @include min(tablet) {
            .swiper-wrapper {
                display: contents;
            }
        }
    }

    &__card {
        height: 100%;
        display: flex;
        align-items: stretch;
        gap: 10px;
        padding-top: 72.5%;
        overflow: hidden;

        @include max(tablet) {
            padding-top: 32vw;
        }

        @include max(mobile) {
            padding-top: 46vw;
        }
    }

    &__img {
        position: absolute;
        bottom: calc(100% + 10px);
        left: 0;
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;
        gap: 10px;
        min-height: 96px;
        border-radius: 0 0 $br-section $br-section;
        background-color: $c-white;

        @include max(laptop-small) {
            padding: 15px;
            min-height: 60px;
        }
    }

    &__icon {
        color: $c-accent-2;
        width: 14px;
        height: 18px;

        svg {
            width: 14px;
            height: 18px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text;
    }
}