.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0;
    padding: 22.5px 52px;
    border-radius: $br-btn-input;
    cursor: pointer;

    svg,
    img {
        width: 16px;
        height: 16px;
    }

    img {
        object-fit: contain;
    }

    &--accent {
        color: $c-white;
        background-color: $c-accent;
        border: 1px solid $c-accent;
        border-color: $c-accent;
        transition: all $tr-time linear;

        &:hover {
            background-color: $c-accent-hover;
            border-color: $c-accent-hover;
        }
    }

    &--light-accent {
        color: $c-accent;
        background-color: $c-bg-main;
        border: 1px solid $c-accent;
        transition: all $tr-time;
        border-radius: $br-btn-input;

        svg {
            color: $c-accent;
            transition: all $tr-time;
        }

        &:hover {
            border-color: $c-accent-hover;
            color: $c-accent-hover;
            background-color: $c-bg-main-hover;

            svg {
                color: $c-accent-hover;
            }
        }
    }

    &--bordered {
        color: $c-accent;
        background-color: transparent;
        border: 1px solid $c-accent;
        transition: all $tr-time;
        border-radius: $br-btn-input;

        svg {
            color: $c-accent;
            transition: all $tr-time;
        }

        &:hover {
            border-color: $c-accent-hover;
            color: $c-accent-hover;

            svg {
                color: $c-accent-hover;
            }
        }
    }

    &--grey {
        color: $c-white;
        background-color: $c-grey;
        transition: all $tr-time;

        &:hover {
            background-color: $c-accent-hover;
            color: $c-white;
        }
    }

    &--noborder {
        border: none;
        transition: color $tr-time linear;

        svg {
            color: #4e4e4e;
            transition: color $tr-time linear;
            margin-bottom: 3px;
        }

        &:hover {
            color: $c-accent-hover;

            svg {
                color: $c-accent-hover;
            }
        }
    }

    &--link {
        width: fit-content;
        padding: 0;
        color: $c-text;
        font-weight: 400;
        font-size: 13px;
        line-height: 1em;
        gap: 10px;

        .btn__text {
            white-space: nowrap;
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }

    /*&--108 {
        width: fit-content;
        padding: 2px 8px;
        min-height: 20px;
        min-width: 108px;
        font-size: 12px;
    }

    &--182 {
        padding: 9px 16px;
        width: fit-content;
        min-width: 182px;
    }

    &--246 {
        width: fit-content;
        min-height: 48px;
        min-width: 246px;
    }

    &--272 {
        width: fit-content;
        min-height: 48px;
        min-width: 272px;
    }*/

    &--full {
        width: 100%;
    }

    &--content {
        width: fit-content;
    }

    &--footer {
        width: fit-content;
        padding: 12px 23px;
        text-transform: uppercase;
    }

    &--header {
        width: fit-content;
        padding: 9.5px;
        white-space: nowrap;
        border-radius: 24px;

        svg {
            width: 28px;
            height: 28px;
            display: none;

            @include max(laptop-small) {
                display: block;
            }
        }

        @include max(laptop-small) {
            padding: 18px;

            .btn__text {
                display: none;
            }
        }

        @include max(mobile) {
            padding: 10px;
            font-size: 13px;

            .btn__text {
                display: block;
            }

            svg {
                display: none;
            }
        }

    }

    /*&--big {
        min-width: 310px;
        min-height: 160px;
        width: fit-content;

        @include max(laptop) {
            min-width: 240px;
            min-height: 125px;
        }

        @include max(mobile) {
            min-width: 200px;
            min-height: 104px;
        }
    }

    &--middle {
        min-width: 257px;
        min-height: 120px;
        width: fit-content;

        @include max(laptop) {
            min-width: 200px;
            min-height: 95px;
        }

        @include max(mobile) {
            min-width: 155px;
            min-height: 75px;
        }
    }

    &--middle2 {
        min-width: 200px;
        min-height: 100px;
        width: fit-content;

        @include max(laptop) {
            min-width: 130px;
            min-height: 65px;
        }

        @include max(mobile) {
            min-width: 110px;
            min-height: 55px;
        }
    }

    &--small {
        padding: 2px 12px;
        font-size: 12px;
    }

    &--social {
        min-width: 310px;
        min-height: 160px;
        width: fit-content;
        flex-direction: column-reverse;
        justify-content: space-between;
        color: $c-text;

        @include max(laptop) {
            min-width: 240px;
            min-height: 125px;
        }

        @include max(mobile) {
            min-width: 200px;
            min-height: 104px;
        }

        svg {
            align-self: flex-end;
            width: 24px;
            height: 24px;
        }

        .btn__text {
            align-self: flex-start;
            font-size: 20px;
            line-height: 1.1em;
            letter-spacing: -0.01em;
        }
    }

    &--icon {
        padding: 7px;
    }*/
}