.contacts-intro {
    &__block {
        padding: 40px 30px 30px;

        @include max(laptop-small) {
            padding: 30px 20px 20px;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;

        @include max(tablet) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include max(mobile) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    &__icon {
        padding-top: 3px;
        color: $c-accent-2;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include max(laptop-small) {
            gap: 10px;
        }
    }

    &__title {
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 22px;
        line-height: 130%;
        letter-spacing: 0;
        color: $c-text;

        @include max(laptop-small) {
            font-size: 17px;
        }
    }

    &__phone {
        font-family: $ff-rooftop;
        font-weight: 500;
        font-size: 25px;
        line-height: 120%;
        letter-spacing: 0;
        color: $c-text-breadcrumbs;
        transition: all $tr-time linear;

        @include max(laptop-small) {
            font-size: 20px;
        }

        &:hover {
            color: $c-accent-hover;
        }
    }

    &__text {
        font-family: #737373;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2em;
        letter-spacing: 0;
    }

    &__route {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: $ff-roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0;
        text-decoration: underline;
        color: $c-accent;
        transition: all $tr-time linear;

        &:hover {
            color: $c-accent-hover;
            text-decoration: underline;
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__map {
        width: 100%;
        height: 31.25vw;
        background-color: $c-bg-main;
        border-radius: $br-section;
        margin-top: 50px;
        overflow: hidden;

        @include max(mobile) {
            height: 450px;
            border-radius: $br-section-mob;
            margin-top: 30px;
        }
    }
}