-
    const defaultSdiscountProps = {
        classes: '',
        items: [
            {
                title: 'Скидка за кредит',
                text: 'Авто в кредит 1,9%',
                discount: '–40 000 ₽',
                decor: 'img/catalog/discount_decor_5.svg',
                isChecked: false,
            },
            {
                title: 'Госпрограмма',
                text: '',
                discount: '10% от цены<br>автомобиля',
                decor: 'img/catalog/discount_decor_6.svg',
                isChecked: true,
            },
            {
                title: 'Выгода за Trade-in',
                text: 'Авто в кредит 1,9%',
                discount: '–120 000 ₽',
                decor: 'img/catalog/discount_decor_3.svg',
                isChecked: true,
            }
        ],
    }

mixin s-discount(props= defaultSdiscountProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSdiscountProps.classes,
            items: props.items ? props.items : defaultSdiscountProps.items,
        }


    section.section.s-discount
        .section__container.section__content
            form(action="#").s-discount__form
                .s-discount__fields
                    - let itemsCount = 0
                    - while(itemsCount < checkProps.items.length)
                        - let item = checkProps.items[itemsCount]

                        .discount-field
                            .discount-field__decor
                                img(src=item.decor, alt="")
                            .discount-field__content
                                .discount-field__top
                                    .discount-field__info
                                        .discount-field__title!= item.title
                                        .discount-field__text!= item.text
                                    .field.discount-field__checkbox.field--checkbox
                                        label
                                            - if(item.isChecked === true)
                                                input.field__input(type="checkbox" checked)
                                            - else
                                                input.field__input(type="checkbox")
                                            span.fake-checkbox
                                .discount-field__bottom
                                    .discount-field__discount!= item.discount
                                    -if(item.noLink !== true)
                                        a(href="javascript:void(0);").discount-field__link Подробнее

                        - itemsCount++


                .s-discount__bottom
                    svg.s-discount__decor.s-discount__decor--left
                        use(xlink:href=`img/sprites/sprite.svg#s_discount_decor_l`)

                    .s-discount__result Ваша скидка <span>до 500 000 ₽</span>
                    +btn({
                        name: 'Зафиксировать условия',
                        sMode: 'narrow',
                        cMode: 'light-accent'
                    })

                    svg.s-discount__decor.s-discount__decor--right
                        use(xlink:href=`img/sprites/sprite.svg#s_discount_decor_r`)